:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}


.outmost {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
}
/* nav section */
.left-container {
  flex: 2;
  margin-top: 2em;
  padding-left: 1em; /* what fixes left spacing on iPad*/
}
.inside-left {
  position: relative; <!-- change back to fixed when solution for scrolling is found-->
}

.left-container li {
  text-decoration: none;
  list-style-type: none;
}
.left-container a {
  color: black;
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 1.5em;
}

.grouper {
  font-family: "Amatic SC";
  font-size: 1.5em;
  color: #a43740;
}
.color01 a {
  color: #a43740;
}
.color02 a {
  color: #7C984A;
}
.color03 a {
  color: #f25f5f;
}
.color04 a {
  color: #0EA37F;
}
.color05 a {
  color: #990099;
}
.color06 a {
  color: #9FA30E;
}
.color07 a {
  color: #A3610E;
}
.color08 a {
  color: #02B45B;
}
.color09 a {
  color: #A30E45;
}
.color10 a {
  color: #980EA3;
}
.color11 a {
  color: #0E1DA3;
}
.color12 a {
  color: #0E68A3;
}
.color13 a{
  color: #0E95A3;
}
.indent {
  text-indent: .5em;
}
.content-container {
  flex: 7;
  overflow: auto;
  height: auto;
  /* width: auto; */
  padding-left: 3em;
  padding-right: 3em;
  /* padding-bottom: 6em; */
  text-align: justify;
  /* background-color: #ffffe6; */
  font-family: 'Libre Baskerville, serif';
}
.img {
  float: left;
  /* width: 25vw; */
  vertical-align: top;
  padding-right: 1em;
  padding-bottom: 1em;

}
.img-right {
  float: right;
  margin-left: 1em;
  padding-bottom: 1em;
}
.middle {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 2em;
}
.image-text-container {
  display: flex;
}
.left-flex {
  flex: 3;
}
.right-flex {
  flex: 3;
  text-align: right;
  padding: 1em;
  font-size: 1.2em;
}
.rever-typog {
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  font-size: 1.2em;
  display: inline;
}
.tab-content > p > .rever-typog {
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  font-size: 1.2em;
  display: inline;
}
.rever-list {
  list-style: none;
  background-color: #d4f4ff;
  padding: 1em;
  font-size: 1.4em;
  border-radius: .5em;
  text-align: left;
}
.rever-list-narrow {
  background-color: #d4f4ff;
  border-radius: .5em;
  padding: 1em;
  margin: 1em 3em 0 0;
  max-width: 400px;
}
/* Flex pages */
.pairs {
  display: flex;
  margin: auto;
  align-items: center;
}
.one {
  flex: 1;
}
.two {
  flex: 2;
}
.three {
  flex: 3;
}
.four {
  flex: 4;
}
.five {
  flex: 5;
}
.six {
  flex: 6;
}
.seven {
  flex: 7;
}


a {
  text-decoration: none;
  list-style: none;
  font-family: "Amatic SC";
  font-size: 1.5em;
  color: #cc667a;
}
a:hover {
  text-decoration: none;
  color: white;
  font-size: 1.9em;
  font-style: bold;
  background-color: #c6564d;
}
h1 {
  font-size: 3em;
  font-family: "Amatic SC";
  color: #c6564d;
}
h2 {
  font-family: "Amatic SC";
  color: #c6564d;
  font-size: 2.3em;
}
h3 {
  font-family: "Amatic SC";
  color: #c6564d;
  font-size: 1.9em;
}
h4 {
  font-family: "Amatic SC";
  color: #0E95A3;
  font-size: 1.9em;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
ul {
  font-size: 1.3rem;
  list-style-type: square;
}

/* ul  li {
  font-size: 1rem;
} */
.accroche {
  background-color: #c4389a;
}
.cite {
  font-size: 1.3em;
  margin-top: -1em;
  text-align: right;
}
.media-outer {
  margin: 1em;
  padding-bottom: 2em;
}
.media-image {
  float: left;
  padding-bottom: 2em;
}
.media-text {
  padding-left: 2em;
}
.savoir-plus {
  text-align: right;
  padding: 1em;
  font-size: 1.2em;
  line-height: 1.5em;
  list-style-type: none;

}

.proposition {
  text-align: center;
  font-size: 1.1em;
  padding-bottom: 1em;
}
.registered {
  font-size: .5em;
  font-family: sans-serif;
  vertical-align: top;
}

/* header section */
.header {
 color: #f9d0a2;
   color: #c6564d;
 color: #964230;
 font-size: 4em;
 font-family: "Amatic SC";
 background-color: #94CDDB;
 position: static;
 background: linear-gradient(#885156, #2d4f2a);
 margin: auto;
 padding: 0;
 border-bottom-left-radius: .2em;
 border-bottom-right-radius: .2em;
 }
 .head-list1 {
 font-size: 4em;
 }
 .head-list2 {
 font-size: 4.4em;
 }
 .head-list3 {
 font-size: 4.9em;
 }
 .invisible {
 opacity: 0;
 }

 .mascot {
 margin-right: 1.5em;
 }
 .mascot :hover {
 transform: rotate(-2deg);
 }

 .masks {
 display: flex;
 list-style-type: none;
 padding-left: .2em;
 padding-right: .2em;
 margin: auto;
 align-items: center;
 justify-content: space-between;
 background-image: url("http://res.cloudinary.com/dnxcesebo/image/upload/v1528121310/light-grey-sky_zvhusk.png");

 }
 .masks > li {
 margin-top: 0em;
 margin-bottom: 0;

 }
.masks > li > {
  display: inline;
}
