:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.outmost {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
}
/* nav section */
.left-container {
  flex: 2;
  margin-top: 2em;
  padding-left: 1em; /* what fixes left spacing on iPad*/
  
}
.inside-left {
  position: fixed;
}

.left-container li {
  text-decoration: none;
  list-style-type: none;
}
.left-container a {
  color: black;
  font-family: "Amatic SC";
  font-weight: bold;
  font-size: 1.5em;
}

.grouper {
  font-family: "Amatic SC";
  font-size: 1.5em;
  color: #a43740;
}
.color01 a {
  color: #a43740;
}
.color02 a {
  color: #7C984A;
}
.color03 a {
  color: #f25f5f;
}
.color04 a {
  color: #0EA37F;
}
.color05 a {
  color: #990099;
}
.color06 a {
  color: #9FA30E;
}
.color07 a {
  color: #A3610E;
}
.color08 a {
  color: #02B45B;
}
.color09 a {
  color: #A30E45;
}
.color10 a {
  color: #980EA3;
}
.color11 a {
  color: #0E1DA3;
}
.color12 a {
  color: #0E68A3;
}
.color13 a{
  color: #0E95A3;
}
.indent {
  text-indent: .5em;
}
.content-container {
  flex: 7;
  overflow: auto;
  height: auto;
  /* width: auto; */
  padding-left: 3em;
  padding-right: 3em;
  /* padding-bottom: 6em; */
  text-align: justify;
  /* background-color: #ffffe6; */
  font-family: 'Libre Baskerville, serif';
}
.img {
  float: left;
  /* width: 25vw; */
  vertical-align: top;
  padding-right: 1em;
  padding-bottom: 1em;
 
}
.img-right {
  float: right;
  margin-left: 1em;
}
.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2em;
}
.image-text-container {
  display: flex;
}
.left-flex {
  flex: 3;
}
.right-flex {
  flex: 3;
  text-align: right;
  padding: 1em;
  font-size: 1.2em;
}
.rever-typog {
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  font-size: 1.2em;
  display: inline;
}
.tab-content > p > .rever-typog {
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  font-size: 1.2em;
  display: inline;
}
.rever-list {
  list-style: none;
  background-color: #d4f4ff;
  padding: 1em;
  font-size: 1.4em;
  border-radius: .5em;
  text-align: left;
}
.rever-list-narrow {
  background-color: #d4f4ff;
  border-radius: .5em;
  padding: 1em;
  margin: 1em 3em 0 0;
  max-width: 400px;
}

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #80dfff;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  border-radius: .2em;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #80dfff;
  border-radius: .2em;
  padding-right: 2em;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 200em;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
  content: "+";
}
input[type=radio] + label::after {
  content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}


a {
  text-decoration: none;
  list-style: none;
  font-family: "Amatic SC";
  font-size: 1.5em;
  color: #cc667a;
}
a:hover {
  text-decoration: none;
  color: white;
  font-size: 1.9em;
  font-style: bold;
  background-color: #c6564d;
}
h1 {
  font-size: 3em;
  font-family: "Amatic SC";
  color: #c6564d;
}
h2 {
  font-family: "Amatic SC";
  color: #c6564d;
  font-size: 2.3em;
}
h3 {
  font-family: "Amatic SC";
  color: #c6564d;
  font-size: 1.9em;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
ul {
  font-size: 1.3rem;
  list-style-type: square;
}

/* ul  li {
  font-size: 1rem;
} */
.accroche {
  background-color: #c4389a;
}
.cite {
  font-size: 1.3em;
  margin-top: -1em;
  text-align: right;
}
.media-outer {
  margin: 4em;
  padding-bottom: 2em;
}
.media-image {
  float: left;
  padding-bottom: 2em;
}
.media-text {
  
}
.savoir-plus {
  text-align: right;
  padding: 1em;
  font-size: 1.2em;
  
}
.proposition {
  text-align: center;
  font-size: 1.1em;
  padding-bottom: 1em;
}
.registered {
  font-size: .5em;
  font-family: sans-serif;
  vertical-align: top;
}

/* header section */
.header {
  /* color: #f9d0a2; */
    color: #c6564d;
  /* color: #964230; */
  font-size: 4em;
  font-family: "Amatic SC";
  /* background-color: #94CDDB; */
  /* position: static; */
  /* background: linear-gradient(#885156, #2d4f2a); */ 
  margin: auto;
  padding: 0;
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: .2em;
}
.head-list1 {
  font-size: 4em;
}
.head-list2 {
  font-size: 4.3em;
}
.head-list3 {
  font-size: 4.8em;
}
.invisible {
  opacity: 0;
}
.masks {
  display: flex;
  list-style-type: none;
  padding-left: .2em;
  padding-right: .2em;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  
}
.masks > li {
  margin-top: .3em;
  margin-bottom: 0;
}
/*.masks > li > {
  display: inline;
}*/

/* header-patch section*/
.head-rever {
  color: white;
  font-family: "Amatic SC";
  background-image: url("http://res.cloudinary.com/dnxcesebo/image/upload/c_fit,h_128,w_1000/v1527756846/patch02_veff1q.png");
  border: 1px solid #999;
}




.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: .5em;
  border: none;
  cursor: pointer;
  font-size: .8em;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -4em;
  background-color: #f9f9f9;
  min-width: 15em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: .2em .5em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.top-line {
  background-color: white;
}
