/* * {
  font-family: "Amatic SC";
} */
.banner {
  display: flex;
  justify-content: space-between;
  background-image: url("http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_190/v1528121310/light-grey-sky_zvhusk.png");
  max-width: 900px;
}
 .banleft {
   flex: 6;
  width: 80%;
}
 .banright {
   flex: 2;
  width: 15%;
  padding: .5em;
}
.banner h1 {
  color: #c6564d;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  margin-top: .1rem;
}
.banner h3 {
  color: #c6564d;
  text-align: center;
  margin: 0;
  font-size: 2em;
}