/* .FooterColumn {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
} */
/* .FooterRow {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */


/* .MenuDiv {
  text-align: right;
}
.MenuDiv a {
  color: black;
} */
/* .Image {
  padding-right: 2px;
  min-width: 80px;
  max-width: 250px;
  margin-top: 15px;
  vertical-align: bottom;
} */
/* .NavList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  flex-direction: row;
  padding: 0 2px;
  justify-content: space-around;
} */
/* .NavListTitres {
  font-size: 32px;
} */
/* .NavList p {
  width: 28ch;
} */
/* .CenterList {
  text-align: center;
}
*/

/* .Logo {
  width: 100%;
}
 */


