#hero {
  width: 70%;
  margin: auto;
  padding-top: 1em;
  font-family: "Amatic SC";
  font-size: 1.8rem;
}
#hero a {
  font-size: 1.1em;
}
.color03 {
  color:#f25f5f
}
.color02 {
  color: #7C984A;
}

/* bourrasque section */

#bourrasque {
  margin-top: 2em;
  font-family: "Amatic SC";
  text-align: center;
}

#bourrasque .mottoes p {
  background-color: #DEA897;
  font-size: 1.3em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
