#hero {
  width: 70%;
  margin: auto;
  padding-top: 1em;
  font-family: "Amatic SC";
  font-size: 1.8rem;
}
#hero a {
  font-size: 1.1em;
}
.color03 {
  color:#f25f5f
}
.color02 {
  color: #7C984A;
}
