:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.content-container {
  overflow: auto;
  height: auto;
  width: auto;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 6em;
  text-align: justify;
  background-color: #d6dcd9;
  font-family: 'Libre Baskerville, serif';
}
.img {
  float: left;
  width: 25vw;
 
}
.img-right {
  float: right;
  margin-left: 1em;
}

.rever-typog {
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  font-size: 1.2em;
  display: inline;
}
.rever-list {
  list-style: none;
  background-color: #c9d4c4;
  padding-left: .3em;
  font-size: 1.5em;
}
nav ul, footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: normal;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
}
a {
  text-decoration: none;
  color: #969;
}
a:hover {
  text-decoration: underline;
  color: orange;
}
h1 {
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

.header {
  color: orange;
  font-size: 4em;
  font-family: "Amatic SC";
  background-color: #b5fa9e;
  /* position: static; */
  margin: auto;
  padding: 0;
}

.masks {
  display: flex;
  list-style-type: none;
  padding-left: .5em;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  
}
.masks > li {
  margin-top: .3em;
  margin-bottom: 0;
}
/*.masks > li > {
  display: inline;
}*/
.footer {
  font-size: 1.2em;
  width: 100vw;
  /*padding: 2vh 0 2vh; */
  position: fixed;
  bottom: 0;
  background-color: #b5fa9e;
  
}
.footer .nav-links a {
  color: #a6a2a2;
}
.footer .nav-links a:hover {
  color: orange;
}
.teal {
  color: teal;
}