:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.content-container {
  overflow: auto;
  height: auto;
  width: auto;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 6em;
  text-align: justify;
  background-color: #d6dcd9;
  font-family: 'Raleway', serif;
}
.img {
  float: left;
  width: 25vw;
 
}
.img-right {
  float: right;
  margin-left: 1em;
}

nav ul, footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
}
a {
  text-decoration: none;
  color: #969;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
.header {
  color: orange;
  font-size: 2.5em;
  background-color: #859;
  position: static;
  margin: 0 -4vh;
  padding-left: 3vh;
}
.footer {
  font-size: 1.2em;
  color: orange;
  width: auto;
  padding: 2vh 0 2vh;
  position: fixed;
  bottom: 0;
  background-color: #859;
  
}
.footer .nav-links a {
  color: #a6a2a2;
}
