
.content-container {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}
.img {
  float: left;
  width: 25vw;
  padding-left: 5vw;
}

nav ul, footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, foot ul li {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
}
a {
  text-decoration: none;
  color: #969;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
.header {
  color: orange;
  font-size: .8em;
  background-color: #859;
  position: static;
}
.footer {
  font-size: 1.2em;
  color: orange;
  width: 100%;
  padding: 2vh 0 2vh;
  position: fixed;
  bottom: 0;
  background-color: #859;
}
.footer .nav-links a {
  color: #a6a2a2;
}
ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}
ul.posts li {
  list-style: none;
}