 .all-across > img {
  width: 100%;
  max-width: 700px;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  /* flex-basis: 36rem; */
  flex-grow: 1;
  /* align-items: flex-start; */
}
.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  max-width: 700px;
  padding-right: 1.5em;
  position: relative;
}
.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.with-sidebar > * > * {
  margin: 0.5rem;
}
.sophro-color {
  color: #7551e1;
}
.art-color{
  color: #7C984A;
}
.music-color {
  color: sandybrown;
}
.spectacle-color {
  color: tomato;
}
.psycho-color {
  color: #51bbe1;
}
.lucie-color {
  color: #7c0a25;
}
.footer {
  position: relative;
  padding-left: 90%;
}
.footer a:hover {
  background-color: #a43740;
  color: #FFF !important;
}
#navcontainer a {
  font-family: "Amatic SC";
  font-size: 1.4rem;
  font-stretch: expanded;
}
#navcontainer a:hover {
background-color: #a43740;
color: #FFF !important;
text-decoration: none;
}
.rever-banner940 {
  max-width: 980px;
} 
.rever-banner700 {
  max-width: 720px;
}
.hideable {
  display: none;
}
.right-side-block {
  margin-right: 0px;
  width: 33%;
  float: right;
  padding-left: 1%;
}
.right-side-big-block {
  margin-right: 0;
  width: 50%;
  float: right;
  padding-left: 1%;
}
.left-side-block {
  margin-left: 0px;
  width: 33%;
  float: left;
  padding-right: 1%;
}
.left-side-big-block {
  margin-left: 0px;
  width: 50%;
  float: left;
  padding-right: 1%;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center-big-block {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.contact {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 0.5mm ridge rgba(220, 50, 53, 0.755);
  padding: 1em;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f4f2eb;
}
.filigree {
  border: 4mm ridge rgba(220, 50, 53, 0.755);
}

p {
  text-align: justify;
}
img {
  width: 100%;
}
.thumbnail:hover, .thumbnail:active {
  position:relative;
  top:-25px;
  width:100%;
  height:auto;
  display:block;
  z-index:999;
}
a {
  font-size: 1.3rem;
  color: #a43740;
  text-decoration: none;
  font-family: "Amatic SC";
}
body {
  font-family: "Crimson Text", "lora", serif;
  font-size: 1.4em;
}
@media (min-width: 940px){

  body {
  width: 940px;
  font-size:1.3em;

  /* On ajoute une marge sur les cotés de l'écran */
  padding-right: 2px;
  padding-left: 2px;
  /* Et on centre */
  margin-right: auto;
  margin-left: auto;
}
}
h1 {
  font-size: 3em;
  font-family: "Amatic SC";
  color: #c6564d;
}
h2 {
  font-family: "Amatic SC";
  color: #c6564d;
  font-size: 2.3em;
}
  nav {
    font-family: "Amatic SC";
    text-align: justify; 
  }
  .cite {
    font-size: 1em;
    margin-top: -1em;
    text-align: right;
  }
  .cleared {
    clear: both;
  }
  .rever-typog {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 1.4rem;
    display: inline;
    letter-spacing: 0.15rem;
  }
  .rever-list2 {
    /* background-color: #d4f7ff; */
    background: url(https://res.cloudinary.com/dnxcesebo/image/upload/v1568653368/blue-white-sky_ufssdy.png);
    font-size: 1.3em;
    border-radius: .5em;
    padding: 0.5em;
    text-align: left;
    font-family: "Crimson Text", serif;
  }
  .rever-enlarged {
    font-size: 1.3rem; 
    font-family: Amatic SC;
  }
.display-none {
  display: none;
}
.logo {
  width: 30%;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li > ul {
  padding-left: 3ch;
}
li {
  padding-bottom: 0.5em;
}