.all-across > img {
  width: 100%;
  max-width: 700px;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  /* flex-basis: 36rem; */
  flex-grow: 1;
  /* align-items: flex-start; */
}
.not-sidebar {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  max-width: 700px;
  padding-right: 1.5em;
  position: relative;
}
.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.with-sidebar > * > * {
  margin: 0.5rem;
}
.svg-banner {
  background-image: url(https://res.cloudinary.com/dnxcesebo/image/upload/w_940,q_auto,f_auto/v1600262267/rthHeroBackground_f4boep.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  margin: auto;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.svgLogoBackground {
  background-image: url(https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_250/v1594455699/%C3%A9chelle_%C3%A0_nuage_petit_pmjqet.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.sophro-color {
  color: #7551e1;
}
.art-color {
  color: #7c984a;
}
.music-color {
  color: sandybrown;
}
.spectacle-color {
  color: tomato;
}
.psycho-color {
  color: #51bbe1;
}
.lucie-color {
  color: #7c0a25;
}

.shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  color: white;
  font-family: amatic sc;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 0.13rem;
}
.shadow-slant-2deg {
  background-color: tomato;
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(2deg); /*Mozilla */
  transform: rotate(2deg);
  padding: 1rem;
  color: white;
  font-family: amatic sc;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.13rem;
}

.intro-text {
  font-family: serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.6rem;
  margin: 0.5rem 5%;
  text-align: justify;
  padding: 1.4rem 2rem 0rem 2rem;
}
.ThreeImages {
  display: flex;
  flex-wrap: wrap;
}
.OneOfThree {
  flex-basis: 1;
}
.figCap {
  text-align: right;
  font-size: 0.8rem;
}

.address-info {
  margin: 10px auto;
  padding: 10px;
  display: inline-block;
  border: 1px solid;
  text-align: center;
  line-height: 1.5em;
  color: #7c0a25;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
}
.rever {
  font-family: amatic sc;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
hr {
  color: rgb(196, 192, 192);
  width: 100px;
  margin-left: 15px;
}
.styled-hr {
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: #7c0a25;
  height: 0.05em;
  opacity: 0.3;
}
.inline-centered {
  text-align: center;
}
.footer {
  position: relative;
  padding-left: 85%;
}
.footer a:hover {
  background-color: #a43740;
  color: #fff !important;
}
#navcontainer a {
  font-family: "Amatic SC";
  font-size: 1.4rem;
  font-stretch: expanded;
}
#navcontainer a:hover {
  background-color: #a43740;
  color: #fff !important;
  text-decoration: none;
}
.rever-banner940 {
  max-width: 980px;
}
.rever-banner700 {
  max-width: 720px;
}
.hideable {
  display: none;
}
.right-side-block {
  margin-right: 0px;
  width: 33%;
  float: right;
  padding-left: 2%;
}
.right-side-big-block {
  margin-right: 0;
  width: 50%;
  float: right;
  padding-left: 1%;
}
.left-side-block {
  margin-left: 0px;
  width: 33%;
  float: left;
  padding-right: 1%;
}
.left-side-big-block {
  margin-left: 0px;
  width: 50%;
  float: left;
  padding-right: 1%;
}
.left-side-two-thirds {
  margin-left: 0px;
  width: 66%;
  float: left;
  padding-right: 3px;
}
.left-side-100 {
  margin-left: 0px;
  width: 100%;
  float: left;
  padding-right: 3px;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center-big-block {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.small-image {
  width: 50%;
}
.contact {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 0.5mm ridge rgba(220, 50, 53, 0.755);
  padding: 1em;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f4f2eb;
}
.filigree {
  border: 4mm ridge rgba(220, 50, 53, 0.755);
}

.bouton {
  color: #ff6347;
  cursor: pointer; /* apparence du curseur */
  display: inline-block; /* autorise les marges*/
  font-size: 2em;
}

p {
  text-align: justify;
}

img {
  width: 100%;
}
blockquote {
  text-align: justify;
}

.thumbnail:hover,
.thumbnail:active {
  position: relative;
  top: -25px;
  width: 100%;
  height: auto;
  display: block;
  z-index: 999;
}
a {
  font-size: 1.3rem;
  color: #a43740;
  text-decoration: none;
  font-family: "Amatic SC";
}
.slideshow-containter a {
  font-size: 3rem;
  color: green;
}
body {
  font-family: "Crimson Text", "lora", serif;
  font-size: 1.3em;
}
@media (min-width: 940px) {
  body {
    width: 940px;
    font-size: 1.3em;

    /* On ajoute une marge sur les cotés de l'écran */
    padding-right: 2px;
    padding-left: 2px;
    /* Et on centre */
    margin-right: auto;
    margin-left: auto;
  }
}
h1 {
  font-size: 3em;
  font-family: "Amatic SC";
  color: #c6564d;
}
h2 {
  font-family: "Amatic SC";
  color: #c6564d;
  font-size: 2.3em;
}
h3 {
  font-family: "Amatic SC";
  color: #29c;
  font-size: 1.9em;
}
nav {
  font-family: "Amatic SC";
  text-align: justify;
}
.cite {
  font-size: 1em;
  margin-top: -1em;
  text-align: right;
}
.cleared {
  clear: both;
}
.rever-typog {
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  font-size: 1.4rem;
  display: inline;
  letter-spacing: 0.15rem;
}
.rever-list2 {
  /* background-color: #d4f7ff; */
  background: url(https://res.cloudinary.com/dnxcesebo/image/upload/v1568562207/light-grey-sky-taller_lirh2h.png);
  font-size: 1.2em;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: left;
  font-family: "Crimson Text", serif;
}
.rever-enlarged {
  font-size: 1.3rem;
  font-family: Amatic SC;
}
.display-none {
  display: none;
}
.logo {
  width: 50%;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li > ul {
  padding-left: 3ch;
}
li {
  padding-bottom: 0.7em;
}
.hovered:hover {
  filter: url(#flooder);
}
.hoverRev:hover {
  filter: url(#shadow);
}
.squared:hover {
  fill: #ec008c;
  opacity: 1;
}
a:hover {
  background-color: gold;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #236331;
  font-size: 12px;
  padding: 8px 12px;
  text-align: right;
}

@media (max-width: 400px) {
  .NavList {
    display: flex;
    flex-direction: column;
  }
  p {
    text-align: left;
  }
}
