<div class="banner">
    <div class="banleft">
      <h1>rêver&nbsp;<span style="font-size:1.1em">tout&nbsp;</span><span style="font-size:1.2em">haut</span>
        <h1>
        <h3>Créativité,&nbsp;soin,&nbsp;lien&nbsp;social,&nbsp;spectacle&nbsp;vivant<h3>
      
    </div>
    <div class="banright">
      <img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_150/v1528307763/moulinette-without-background_l4qxiu.png">
    </div>
    <div class="farright">
      &nbsp;
    </div>
  </div>