<div id="blem" style="background-color: hsl(30,50%,85%); margin-top:20px; margin-bottom:50px">
  <div class="Motto">bercer l'enfant manquant</div>
  <p class="intro-text">
    Basée sur des témoignages recueillis auprès de mères, de sages-femmes, et de soignantes, « Bercer l’enfant manquant » explore lesliens qui se tissent, se vivent, s’installent et parfois ont du mal à se nouer, entre les mères et leurs enfants.
  </p>
  <p class="shadow" style="background-color: hsl(171,93.5%,36.5%);transform:rotate(2deg);">
    devenir mère: toute une palette de sentiments complexes
  </p>
  <p class="intro-text">
    Devenir mère, c’est traverser surprise, énigme, doute, inquiétude, angoisse, émerveillement, tout une palette de sentiments complexes et nouveaux. C’est se confronter à certains clichés, ou injonctions de la société ou de sa propre famille. Et c’est aussi faire l’expérience d’un parcours médical, qui va de l’échographie jusqu’à l’accouchement et qui peut parfois faire vivre une amniocentèse, une PMA, une prématurité, une césarienne en urgence&hellip;
  </p>
  <p class="shadow" style="background-color: #7551e1;">
    l'enfant manquant c'est l'enfant rêvé
  </p>
  <p class="intro-text">
    Et l’enfant manquant c'est l’enfant idéal, celui qu’il faut parfois oublier pour pouvoir accueillir l’enfant réel&hellip;
  </p>
  <h2 style="font-size:32px; color:hsl(171, 93%, 25%); text-align:left;">
    pour visionner quelques extraits de la pièce
  </h2>
  <video controls="controls" width="100%" poster="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto/v1555399096/revertouthaut-presente_giqsdi.png" alt="des témoignages de mères et de sages-femmes, pour explorer lesliens mère/enfant, et questionner l'expérience intime, universelle et complexe de la maternité">
    <source src="https://res.cloudinary.com/dnxcesebo/video/upload/v1555328661/bercer-trailer-768-h264_kvpyle.mp4">
    <p>Your browser doesn't support HTML5 video. Here is a
      <a href="https://res.cloudinary.com/dnxcesebo/video/upload/f_auto,q_auto/v1555328661/bercer-trailer-768-h264_kvpyle.mp4">link to the video</a>
      instead.</p>
  </video>
  <p class="intro-text">
    Cette pièce est ouverte à tous et toutes, à partir de douze ans. Chaque représentation est suivie d’un temps d’échanges. Textes, chants, piano et percussions composent ce voyage en terre intime et universelle. Avec Valérie Gaudissart, Sidonie Dubosc, Morton Potash, Mariama Boina, Sylvia Etcheto et Florian Girard à la lumière.
  </p>
  <ul style="text-align:right;list-style-type:none">
    <li>
      <a style="color:hsl(171,93.5%,36.5%); font-size:30px" href="bercer-l-enfant-manquant-dossier.pdf" download="download">●&nbsp;Cliquer pour télécharger le dossier</a>
    </li>
    <li>
      <a style="color:hsl(171,93.5%,36.5%); font-size:30px" href="https://france3-regions.francetvinfo.fr/bourgogne-franche-comte/saone-loire-spectacle-questionner-lien-mere-enfant-1621247.html">●&nbsp;reportage sur france3-bourgogne par Maryline Barate, publié le 08/02/2019.</a>
    </li>
  </ul>
  <div class="MottoSmaller">prochainement</div>

  <div style="padding:15px">

    <ul class="Coming">
      <li>
        vendredi 30 avril 2021 à 20h<br>
        Foyer Municipal<br>
        71130 Gueugnon<br>
        en partenariat avec l’association le Pont
      </li>
      <hr>
      <li>
        5 février 2021 à 20h<br>
        Salle ECLA<br>
        22 rue Victor Hugo<br>
        71230 Saint-Vallier<br>
        précédé d'un atelier de création ouvert aux parents le 3 février dans l'après-midi
      </li>
      <hr>
      <li>
        samedi 5 decembre 2020 à 20h<br>
        Cellier des Moines<br>
        Place de l'Abbaye<br>
        71700 Tournus<br>
        en partenariat avec l’Association Vivre au Féminin
      </li>
      <hr>
      <li>
        <span style="color:red;">vendredi 23 octobre 2020 à 20h</span><br>
        Salle du VOX<br>
        11 rue Paul Pioda<br>
        01000 Bourg en Bresse<br>
        Réservations/Renseignements: 06 03 42 71 98<br>
        en partenariat avec l’APAEP (Association pour l’Accompagnement de l’Enfance et de la Parentalité)/Jeunes Pousses<br>
        <img style="width:80%; margin:auto" src="https://res.cloudinary.com/dnxcesebo/image/upload/v1601626496/gatsby-cloudinary/blemBourg.jpg" alt="flyer Bourg en Bresse le 23 octobre 2020">
      </li>
      <hr>
      <li>
        <span style="color:red;">mardi 13 octobre 2020 à 20h</span><br/>
        Théâtre Municipal Sauvageot<br/>
        28 avenue Charles de Gaulle<br/>
        71600 PARAY LE MONIAL<br/>
        03 85 81 11 62<br>
        <img style="width:80%; margin-left:auto" src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_800/v1601621589/gatsby-cloudinary/blemParay.jpg" alt="flyer Paray-le-Monial le 13 octobre 2020 au Théâtre Sauvageot">

      </li>
    </ul>
    <hr>
    <div class="MottoSmaller">représentations passées</div>
    <ul class="Past">
      <li>
        mardi 3 decembre 2019 à 20h<br>
        Salle des fêtes Maurice Ravel<br>
        Avenue Maurice Ravel<br>
        71880 Châtenoy-le-Royal<br>
        <img style="width: 50%; margin-left: 3px;" src="https://res.cloudinary.com/dnxcesebo/image/upload/w_800,q_auto,f_auto/v1574259054/flyer-bercer-chateneaP1_lpzjvf.png" alt="Flyer Chatenoy-le-Royal pour 3 decembre à 20h, 2019">
      </li>
      <hr>
      <li>
        mardi 26 novembre 2019 à 14h<br/>
        Maison des Parents<br/>
        Espace Victor Hugo<br/>
        Place Édith Piaf
        <br/>
        93440 Dugny<br/>
        01 49 34 11 58
      </li>
      <hr>
      <li>
        vendredi 18 octobre 2019 à 20h30<br/>
        au Théâtre Municipal d'Autun<br/>
        71400 Autun<br/>
        en partenariat avec le CIAS Grand Autunois-Morvan, et 1 2 3 Soleil,lieu d'accueil Parents/enfants<br/>
        entrée gratuit<br/>
        <blemlink href="https://www.autun.com/agenda/4/15909-Bercer-lenfant-manquant">Autun Agenda</blemlink><br/>
        <blemlink href="https://web.digitick.com/bercer-l-enfant-manquant-theatre-theatre-municipal-autun-18-octobre-2019-css5-autunville-pg101-ri6540175.html">résérvations</blemlink>
      </li>
      <hr>
      <li>
        jeudi 3 octobre 2019 à 20h30<br/>
        à la salle polyvalente Gaston Laferrière<br/>
        01280 Prevessin-Moens<br/>
        renseignement: Maison des Familles<br/>
        04 50 40 51 69 / 06 07 55 60 45<br/>
        entrée: gratuit<br/>
        en collaboration avec le RAM et Pays de Gex Agglo<br/>
        <blemlink href="https://en.calameo.com/books/00575678290a7440130e5">la programme de la Maison des Familles</blemlink>
      </li>
      <hr>
      <li>
        samedi 21 septembre à 18h30<br/>
        à La Fabrique<br/>
        Pré de Saugy Messeugne<br/>
        71460 Savigny sur Grosne<br/>
        entrée 6€<br/>
        réservation : olivierdavid@alafabrique.org<br/>
        06 78 78 77 95<br/>
      </li>
      <hr>
      <li>
        vendredi 20 septembre à 20h30<br/>
        à La Limace<br/>
        Laurendon<br/>
        71220 Sivignon (entre Cluny et Charolles)<br/>
        entrée 12€ et 10€ pour les adhérents de La Limace<br/>
        réservation : 07 69 29 53 27
      </li>
      <hr>
      <li>
        jeudi 23 mai 2019 à 14h30 et 20h<br/>
        au Petit Chêne Théâtre à Cluny<br/>
        les Cras<br/>
        71250 Cluny<br/>
        entrée 12€ et tarif réduit 8€<br/>
        réservation : 06 13 50 45 54
      </li>
      <hr>
      <li>
        mercredi 15 mai à 14h30<br/>
        au Pôle Rive-Droite<br/>
        16-18 avenue de la Résistance<br/>
        89000 Auxerre<br/>
        entrée gratuite<br/>
        réservation : 03 86 94 06 34<br/>
        <blemlink href="https://www.auxerre.fr/Animee/Agenda-des-sorties/Concerts-Spectacles/Bercer-l-enfant-manquant">Auxerre agenda des sorties</blemlink>
      </li>
      <hr>
      <li>
        jeudi 21 mars 2019 à 19h<br/>
        à la Bibliothèque intercommunale Laurence Bertrand<br/>
        salle Marie Baudet<br/>
        place Henri Duréault (en face de la mairie)<br/>
        71460 Joncy<br/>
        entrée gratuite<br/>
        réservation : 03 85 96 23 68
      </li>
      <hr>
      <li>
        mardi 19 mars 2019 à 15h30<br/>
        à l’Espace 1001 Familles à Cluny<br/>
        quai de la Gare<br/>
        71250 Cluny<br/>
        entrée gratuite<br/>
        réservation : 06 87 36 53 58
      </li>
      <hr>
      <li>
        lundi 18 mars 2019 à 20h<br/>
        au Petit Chêne Théâtre à Cluny<br/>
        les Cras<br/>
        71250 Cluny<br/>
        entrée gratuite<br/>
        réservation : 03 85 59 13 09
      </li>
      <hr>
      <li>
        vendredi 8 mars 2019 à 14h30<br/>
        aux Ateliers du Jour<br/>
        56 quai Jules Chagot<br/>
        Montceau-les-Mines<br/>
        entrée gratuite<br/>
        réservation : 03 85 69 19 90
      </li>
      <hr>
      <li>
        vendredi 8 février 2019 à 14h30 et 20h30<br/>
        au Réservoir<br/>
        16, rue Denis Papin<br/>
        Saint Marcel<br/>
        gratuit à 14h30<br/>
        tarif entre 5 et 8 euros pour la séance de 20h30<br/>
        réservation : 03 85 42 46 27<br/>
        <blemlink href="http://www.info-chalon.com/articles/saint-marcel/2019/02/10/42192/salle-pleine-pour-bercer-l-enfant-manquant-c-etait-au-reservoir/">salle pleine pour bercer l'enfant manquant</blemlink>
      </li>
      <hr>
      <li>
        vendredi 7 décembre 2018 à 14h30<br/>
        Studio 70<br/>
        3bis rue de Lyon<br/>
        Chalon sur Saône<br/>
        gratuit — réservation : 06 14 40 46 61<br/>
        <blemlink href="https://www.lejsl.com/edition-de-chalon/2018/12/10/bercer-l-enfant-manquant-organise-par-adssociation-la-pomme-verte-(en-images)">le journal de saône et loire</blemlink><br>
        <img style="margin-left:3px; width:50%;" src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_250/v1541816962/flyer-bercer-chalon-dec7-2018_vmb2ds.png">
      </li>
      <hr>
      <li>
        vendredi 23 novembre 2018 à 19h<br/>
        Patapon EPAS<br/>
        Château Marie Darmet<br/>
        260, rue de Paris<br/>
        Mâcon<br/>
        gratuit — reservation : 03 85 38 61 03<br>

      </li>
    </ul>
    <h2 style="font-size:32px; color:#7551e1; text-align:left;">
      lire quelques extraits de la pièce
    </h2>
    <cite style="line-height: 1.5rem;letter-spacing:.13rem;">
      J’étais bien motivée<br/>
      J’ai dit « non non je veux pas de péridurale »<br/>
      Et puis à un moment donné<br/>
      Tout le monde a paniqué<br/>
      J’ai entendu biiiipppp<br/>
      J’ai atterri au bloc<br/>
      Césarienne d’urgence<br/>
      L’anesthésiste m’a dit on va faire un petit dodo madame<br/>
      J’ai tourné la tête je l’ai regardé droit dans les yeux<br/>
      J’ai dit, toi mon gars, tu vas pas réussir à m’endormir<br/>
      J’étais énervée<br/>
      Mais j’ai dormi<br/>
      Je me suis rendu compte de rien<br/>
      Et quand je me suis réveillée<br/>
      La sage-femme, elle me tenait la main et elle m’a dit «&nbsp;c’est bon tout s’est bien passé&nbsp;»<br/>
      Je la regarde, je lui dis : qu’est-ce qui s’est passé ?<br/>
      Ben, le bébé, le bébé va bien.<br/>
      J’étais complètement perdue, j’avais complètement oublié<br/>
      Le néant<br/>
      Je me suis mise à chialer<br/>
      On m’a dit vous voulez le toucher ?<br/>
      Il était dans une couveuse<br/>
      Et moi j’étais reliée de partout<br/>
      J’ai pas pu le tenir dans mes bras<br/>
      Je l’ai pas entendu crier quand il est né<br/>
      Je me suis dit<br/>
      T’as pas été capable d’accoucher normalement<br/>
      T’es nulle comme mère<br/>
    </cite>
    <hr>
    <cite style="line-height: 1.5rem;letter-spacing:.13rem;">
      On a eu de la chance parce qu’on a attendu que 2 ans. J’étais à la maison, j’étais toute seule, j’ai reçu un coup de téléphone. J’ai compris tout de suite car la dame de la ddass qui m’a appelée mettait des phrases qui n’avaient aucune importance, et j’ai compris qu’elle me préparait à quelque chose d’important. Elle m’a dit : un bébé vous attend. Je suis allée à un temps de rencontre à la ddass où on m’a montré des photos du bébé.<br/>
      Et puis après on m’a accompagnée chez sa nourrice. Qui était une femme extraordinaire. Quand je suis arrivée, le bébé était posé dans un petit cosy dans la cuisine et il y avait un escalier et y’avait plein d’enfants, qui me regardaient avancer. Je me rappelle que j’étais très calme, je lui ai dit bonjour, j’étais très calme.<br/>
      Après pendant une semaine, on venait tous les jours donner le bain, changer, donner le biberon, un vrai passage. Elle nous l’a passé cette femme. Un beau mouvement.<br/>
      Lelien il a commencé à se faire quand on était ensemble à la maison tous les trois.<br/>
      On a passé une semaine ici, dehors il neigeait, Théo était dans un petit hamac, là près du feu, et nous on a passé une semaine à le regarder. On s’est fait comme une grossesse en accéléré. Dans un espèce de cocon. On faisait rien, il neigeait et on le regardait.
    </cite>
    <hr>
    <cite style="line-height: 1.5rem;letter-spacing:.13rem;">
      Je n’arrivais plus à croire à l’existence de ce bébé<br/>
      Ce bébé n’existait plus<br/>
      Et je voyais le gouffre qui se trouvait devant moi<br/>
      J’arrivais pas à rester seule<br/>
      Je ne savais pas quoi faire de moi, de mes journées<br/>
      Mon grand espoir était que tout s’arrangerait quand le bébé serait né<br/>
      L’accouchement s’est passé très facilement<br/>
      J’ai compris très vite que mon bébé allait très bien, qu’il était très costaud, mais que c’est moi, qui n’allait pas bien du tout<br/>
      J’arrivais à tout faire, je l’allaitais comme il fallait, je m’en occupais bien Mais je ne ressentais rien pour lui<br/>
      J’étais complètement vide, vide de sentiment<br/>
      C’était mon enfant, je le savais, mais je le savais intellectuellement<br/>
      Mais je ne ressentais rien<br/>
      Un jour, je le promenais au parc dans sa poussette, Y’avait du vent. Le bébé me regardait et je me suis dit : la seule chose que je suis capable de ressentir, c’est le souffle de vent dans mes cheveux.
    </cite>
    <hr>
    <cite style="line-height: 1.5rem;letter-spacing:.13rem;">
      Ce qui m’étonne toujours, c’est que le bébé soit tout bien fini, tout bien fait, il a déjà une histoire, donc on se demande d’où il vient cet enfant.<br/>
      Parce que bon, deux cellules qui font deux quatre huit, oui d’accord mais il vient d’où ? L’impression qu’il vient d’un autre monde, tu vois, qu’il porte en lui quelque chose de mystérieux, par son regard, un peu perdu, un peu vague, qu’est-ce qu’il y a dans ce cerveau ? qu’est-ce qu’il élabore ? Qu’est-ce qu’il ressent ? est-ce qu’il pense à des choses ? est-ce qu’il rêve ?<br/>
      Quand il dort mais qu’il fait des sourires, qu’est-ce qui se passe pour qu’il sourit, y’a des images dans sa tête ?
      <br/>
      En fait, je me dis qu’un bébé, c’est comme un livre qu’on ouvre, comme un livre qu’on déplie.
    </cite>
    <hr>
  </div>
  {% include retour.html %}
</div>