<hr class="styled-hr">
<div class="FooterColumn">
  <div class="FooterRow">
    <div class="Words">
      <div class="Motto">
        créativité, soins, lien&nbsp;social, spectacle&nbsp;vivant
      </div>
    </div>
    <div class="Image">
      <a href="/">
        <img class="Logo" src="https://res.cloudinary.com/dnxcesebo/image/upload/f_auto,q_auto,w_120/v1594455494/logo-rth_rrmrr7.jpg" alt="échelle vers trouée dans le ciel">
      </a>
    </div>
  </div>
  <div class="NavList">
    <div>
      <p class="shadow" style="background-color: hsl(27.2,52.5%,95%)">
        <a style="color:hsl(143.6,68.5%,52.7%)" href="#">ateliers</a><br>
        <a style="color: hsl(40.6,50.5%,42%)" href="/cycles-de-sophrologie">●&nbsp;Cycles de sophrologie</a><br>
        <a style="color: #29c" href="/les-petites-lucarnes">●&nbsp;Les petites lucarnes</a><br>
        <a style="color: rgb(181, 136, 136)" href="/histoire-de-mes-ressemblances">●&nbsp;Histoire de mes ressemblances</a><br>
        <a style="color: #29c" href="/aidants-aimants" ">
          <span>●&nbsp;Aidants, aimants</span></a>
      </p>
    </div>
    <div>
      <p class="shadow" style="background-color: hsl(120,25.1%,94.9%)">
        <a style="color: #f25f5f" href="/spectacles">●&nbsp;Spectacles</a><br>
        <a style="color: darkorange" href="bercer-l-enfant-manquant">●&nbsp;Bercer&nbsp;l'enfant&nbsp;manquant</a><br>
        <a style="color: darkgoldenrod; font-size: 25px" href="parent-solo-et-ses-marmots">●&nbsp;Parent solo et ses marmots</a><br>
        <a style="color: #990099; font-size: 26px" href="/les-plus-que-proches">●&nbsp;Les plus que proches</a><br>
        <a style="color: #02B45B" href="/journee-nationale-des-aidants">●&nbsp;Journée nationale des aidants</a><br>
        <a style="color: #f25f5f" href="Les-etres-humaines">●&nbsp;Les&nbsp;Étres&nbsp;Humaines&nbsp;2011-2015</a><br>
        <a style="color: #29c" href="l-hibernance-des-betes">●&nbsp;L'hibernance&nbsp;des&nbsp;bêtes&nbsp;2021</a>
      </p>
    </div>
    <div>
      <p class="shadow" style="background-color: hsl(297.5,30.4%,90%)">
        <a style="color:hsl(339.5,40%,55%)" href="/a-propos-de">a propos de</a><br>
        <a style="color: #7551e1" href="/contact">●&nbsp;Contact</a><br>
        <a style="color: #7C984A" href="/art-therapie">●&nbsp;Art-thérapie</a><br>
        <a style="color: #7551e1" href="/sophrologie">●&nbsp;Sophrologie</a><br>
        <a style="color: #3e849a" href="/equipe">●&nbsp;Equipe</a><br>
        <a style="color: hsl(2.4,96.2%,79.6%)" href="#">●&nbsp;Institutions</a>
      </p>
    </div>

  </div>
</div>