<hr class="styled-hr">
<div class="FooterColumn">
  <div class="FooterRow">
    <div class="Words">
      <div class="Motto">
        créativité, soins, lien social, spectacle vivant
      </div>
    </div>
    <div class="Image">
      <a href="/">
        <img class="Logo" src="https://res.cloudinary.com/dnxcesebo/image/upload/f_auto,q_auto,w_120/v1594455494/logo-rth_rrmrr7.jpg" alt="échelle vers trouée dans le ciel">
      </a>
    </div>
  </div>
  <ul class="NavList">
    <li>
      <a style="color: #7551e1" href="/cycles-de-sophrologie">●&nbsp;Cycles de sophrologie</a>
    </li>
    <li>
      <a style="color: #7C984A" href="/art-therapie">●&nbsp;L'art-thérapie</a>
    </li>
    <li>
      <a style="color: #02B45B" href="/journee-nationale-des-aidants">●&nbsp;Journée nationale des aidants</a>
    </li>
    <li>
      <a style="color: #3e849a" href="/equipe">●&nbsp;Équipe</a>
    </li>
    <li>
      <a style="color: #7551e1" href="/contact">●&nbsp;Contact</a>
    </li>
    <li>
      <a style="color: #29c; font-size:26px" href="/aidants-aimants" ">
        <span>●&nbsp;Aidants, aimants</span></a>
    </li>
    <li>
      <a style="color: #990099; font-size: 26px" href="/les-plus-que-proches">●&nbsp;Les plus que proches</a>
    </li>
    <li>
      <a style="color: #29c" href="/les-petites-lucarnes">●&nbsp;Les petites lucarnes</a>
    </li>
    <li>
      <a style="color: rgb(181, 136, 136)" href="/histoire-de-mes-ressemblances">●&nbsp;Histoire de mes ressemblances</a>
    </li>
    <li>
      <a style="color: #02B45B" href="/journee-nationale-des-aidants">●&nbsp;Journée nationale des aidants</a>
    </li>
    <li>
      <a style="color: #f25f5f" href="/spectacles">●&nbsp;Spectacles</a>
    </li>
    <li>
      <a style="color: #7551e1" href="/sophrologie">●&nbsp;Sophrologie</a>
    </li>
    <li>
      <a style="color: darkorange; font-size:24px" href="bercer-l-enfant-manquant">●&nbsp;Bercer&nbsp;l'enfant&nbsp;manquant</a>
    </li>
    <li>
      <a style="color: darkgoldenrod; font-size: 25px" href="parent-solo-et-ses-marmots">●&nbsp;Parent solo et ses marmots</a>
    </li>
    <li>
      <a style="color: #29c" href="l-hibernance-des-betes">●&nbsp;L'hibernance&nbsp;des&nbsp;bêtes&nbsp;2021</a>
    </li>
    <li>
      <a style="color: #f25f5f" href="les-etres-humaines">●&nbsp;Les&nbsp;Étres&nbsp;Humaines&nbsp;2011-2015</a>
    </li>
  </ul>
</div>