<hr class="styled-hr">
<div class="FooterColumn">
  <div class="FooterRow">
    <div class="Words">
      <div class="Motto">
        créativité, soins, lien&nbsp;social, spectacle&nbsp;vivant
      </div>
    </div>
    <div class="Image">
      <a href="/">
        <img class="Logo" src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_150/v1594455699/%C3%A9chelle_%C3%A0_nuage_petit_pmjqet.jpg" alt="échelle vers trouée dans le ciel">
      </a>
    </div>
  </div>
  {% include NavListCards.html %}
</div>
</div>