<head>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="/css/normalize.css" type="text/css"><!-- link to reset stylesheet -->
      <link rel="stylesheet" href="/css/w3.css" type="text/css" /><!-- link to w3 responsive framework -->
      <link rel="stylesheet" type="text/css" href="/css/2col.css"><!-- link to main stylesheet -->
      <link rel="stylesheet" href="/css/banner.css" type="text/css" /><!-- link to banner stylesheet -->
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Arvo|Libre+Baskerville|Open+Sans+Condensed:300" rel="stylesheet">
      {% if page.summary %}
<meta name="description" content="{{ page.summary | escape }}">
{% endif %}
{%if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
{%endif %}
</head>
