<head>
      <title>{{ page.title }}</title>
     <link rel="stylesheet" href="css/sidebar.css">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Lora|Libre+Baskerville|Open+Sans+Condensed:300|Crimson+Text&display=swap" rel="stylesheet">
      {% if page.summary %}
<meta name="description" content="{{ page.summary | escape }}" >
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endif %}
{%if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
{%endif %}
<!-- <link rel="shortcut icon" type="image/png" href="{{site.url}}/favicon.png"> -->
<link rel="shortcut icon" type="image/png" href="http://revertouthaut.fr/ladder-nuage-noWords-square.png">
</head>
