<header class="header">
  <div class="flex-container">
  <ul class="masks">
   <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_130/v1526489453/décapsulette_gxq8bb.jpg"/></li>
  <li class="head-list1">rêver</li>
  <li class="invisible">m</li>
  <li class="head-list2">tout</li>
  <li class="invisible">m</li>
  <li class="head-list3">haut</li>
  <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_130/v1527516365/moulinette_jeune-cropped_l9ulq7.jpg"></li>
  
  <!-- <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/a_auto_right/c_scale,h_130/v1526489666/passoire_orp3hl.jpg"/> </li> -->
  
  <!-- <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/a_auto_right/c_scale,h_130/v1526489493/boite_à_bonheur_gykvch.jpg" /></li> -->
  </ul>
  </div>  
</header>