<header class="header">
  <ul class="masks">
   <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_130/v1526489453/décapsulette_gxq8bb.jpg"/></li>
  <li>rêver</li>
  <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_130/v1526489483/moulinette_jeune_sh5swq.jpg"></li>
  <li>tout</li>
  <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/a_auto_right/c_scale,h_130/v1526489666/passoire_orp3hl.jpg"/> </li>
  <li>haut</li>
  <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/a_auto_right/c_scale,h_130/v1526489493/boite_à_bonheur_gykvch.jpg" /></li>
  </ul>  
</header>