<header class="header">
  <div class="flex-container">
  <ul class="masks">
   <!-- <li><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_170,r_15/v1527756312/revercloud4cropped_hd80kr.png"/></li> -->
  <li class="head-list1">&nbsp;</li>
  <li class="head-list1">&nbsp;</li>
   <li class="head-list1">rêver</li>
  <li class="invisible">m</li>
  <li class="head-list2">tout</li>
  <li class="invisible">m</li>
  <li class="head-list3">haut</li>
  <li class="head-list1">&nbsp;</li>
  <li class="head-list1">&nbsp;</li>
  <li class="mascot"><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_172/v1527746433/moulinette_jeune-bright_poq2bj.jpg"></li>
    </ul>
  </div> 
</header>
