<div class="space-between--no-wrap">
  <div class="one-third"></div>
  <div class="logo-image one-third">
    <img src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_250/v1594455699/%C3%A9chelle_%C3%A0_nuage_petit_pmjqet.jpg" alt="échelle vers trouée dans le ciel">
  </div>
  <div class="right-side-text one-third">
    <div>
      <a href="#siteMap" style="color: black">
        <svg style="vertical-align: top" viewbox="0 0 100 80" width="40" height="40">
          <rect y="0" width="70" height="8"></rect>
          <rect y="20" width="70" height="8"></rect>
          <rect y="40" width="70" height="8"></rect>
        </svg>menu</a>
    </div>
  </div>
</div>
<div class="space-below"></div>