<div id="lpqp" style="background-color: hsl(96,93.2%,96%); margin-top:20px;letter-spacing: 0.2rem; padding:15px">
  <div class="Motto">
    les plus que proches<br>
    lecture musicale
    <br>
  </div>

  <p class="intro-text">
    <cite>«Être aidant ça s'apprend»</cite>
    Les aidants, ce sont ces enfants, ces conjoint.es qui vivent au quotidien avec leurs proches atteints d’une maladie neuro-évolutive, d’une cérébro-lésion ou d’un handicap.
  </p>
  <p class="intro-text">
    <span class="rever">rêver tout haut</span>
    mène plusieurs projets qui leur sont destinés, car il est nécessaire de les accompagner dans tout ce qu’ils vivent, ressentent face à leurs liens d’affection qui se trouvent bousculés, face à leur place dans la famille qui s’en trouve transformée.
  </p>
  <p class="intro-text ">
    Après avoir recueilli des témoignages d’aidants et de soignants, Rêver Tout Haut a conçu une lecture musicale, «Les Plus que Proches». Lecture d’une heure, faite par deux comédiennes, accompagnées par un pianiste. Un moment privilégié pour réfléchir ensemble à tout ce que l’aidant.e doit assumer, traverser et tout ce qu’elle/il doit trouver en elle et en lui comme ressources.
  </p>
  <p class="intro-text ">
    Dernière lecture en date: le 30 septembre 2020 à Paray le Monial à 15h, lors de la Journée Nationale des Aidants. Organisée par le Réseau des Aidants SUD-71, entrée gratuite. Contact: 03 85 21 62 10

  </p>

  <div class="center-block"><img src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_800/v1599193751/journe%CC%81eNationaleAidants2020p1_g9ybvp.jpg" alt="flyer journée nationale des aidants, mercredi, 30 septembre 2020 de 15h00 à 17h, contact: 0385216210"></div>

  <div class="center-block"><img src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_800/v1599193760/joune%CC%81eNationaleAidants2020p2_hkeflc.jpg" alt="flyer p2: masque obligatoire, conditions sanitaires respectées, 15h lecture théàtralisée Les Plus Que Proches avec 2 comédiennes et un musicien de l'association rêver tout haut. 16h échanges avec la salle. Organisé par le Réseaux des Aidants SUD 71."></div>

  <cite>« D'ailleurs, souvent je fais la faute, ou le lapsus… Aimants au lieu d'aidants... parce que cette force incroyable, qu'est ce que c'est sinon de l'amour? »</cite>
  <ul style="text-align:right; list-style-type:none">
    <li>
      <a style="color:hsl(171,93.5%,36.5%); font-size:30px;" href="FLYER A5 - PLUS QUE PROCHES-2020.pdf" download="download">●&nbsp;Cliquer pour télécharger le flyer</a>
    </li>
  </ul>

  <div class="Motto">
    les plus que proches: représentations publiques
  </div>
  <ul class="Coming">
    <li>
      jeudi 20 mai 2021<br>
      infos pratiques à venir<br>
      21550 Ladoix Serrigny<br>
      avec le RESEDA<br>
      Réseau des Maladies Neuro-Evolutives<br>
      Bourgogne Franche-Comté
    </li>
    <hr>
    <li>
      vendredi 10 décembre 2021<br>
      infos pratiques à venir<br>
      Macon<br>
      en partenariat avec l’ASSAD Macon
    </li>
  </ul>
  <hr>
  <ul class="Past">
    <li>
      mercredi 30 septembre 2020 de 15h à 17h<br>
      Théâtre Municipal Sauvageot<br>
      28 avenue Charles de Gaulle<br>
      71600 PARAY LE MONIAL<br>
      03 85 81 11 62<br>
      avec le Réseau des Aidants Sud 71
    </li><hr>
    <li>
      11 octobre 2019 de 13h30 à 17h<br>
      Médiathèque<br>
      23 rue de la République<br>
      71000 Mâcon<br>
      03 85 21 62 10<br>
      avec le Plateforme d'accompagnement et de répit des aidants familiaux de personnes atteintes de maladies neuro-évolutives
    </li>
  </ul>
  <h2 style="font-size:32px; color:hsl(171,93.5%,36.5%); text-align:left;">
    lire quelques extraits de la pièce
  </h2>
  <cite>
    «Ce qui va me faire le plus de mal, c’est de placer ma femme pour huit jours pour que je puisse partir avec des copains et faire du vélo, car je ne peux plus partir avec eux avec ma femme, je peux plus leur imposer ça. La laisser, je sais qu’il faudra que j’y passe un jour. Mais je sais pas comment je vais réagir. Depuis 56 ans ensemble, la laisser... Des fois je vais dans mon garage, et je chougne.»
  </cite>
  <hr>
  <cite>«Ma limite, c’est le jour où elle ne me reconnaîtra plus, où elle me dira, «t’es qui ?»Ce jour là, pour moi, c’est fini, je saurai à ce moment là que je serai vraiment tout seul. Même si il y a des loupés, aujourd’hui elle est là, et j’ai l’impression qu’on est un couple.»
  </cite>
  <hr>
  <cite>
    «Ce qui est compliqué c’est quand l’enfant devient l’aidant de son parent et qu’il devient finalement le parent de ses parents. Et on a des gens qui vont loin là dedans et on n’arrive pas à les freiner. J’ai beaucoup de filles aidantes qui remplissent leur existence en s’occupant de leurs parents et qui les maternent, qui sont convaincues que c’est bien mais moi, j’en suis pas si convaincue que ça.»
  </cite>
  <hr>
  <cite>«Mais ce qui me pose problème, c’est que je suis devenue maître de son destin, elle me l’a transmis, c’est moi qui tire les ficelles de son destin et c’est insupportable, je la représente pour les banques, pour les décisions médicales, je dois prendre toutes les décisions et si jamais ça merde ?»
  </cite>
  <hr>
  <cite>«Dans ce que j’observe des souffrances de l’aidant, il y a le fait qu’un beau jour, votre conjoint, votre mère, votre père ne vous reconnaît plus. Mais c’est pas qu’on n’est pas reconnu, on est reconnu jusqu’au bout mais on n’est plus nommé, c’est complètement différent.»
  </cite>
  <hr>
  <cite>«Je vis en liberté surveillée. Je suis assignée à résidence. Même être au téléphone 5 minutes, je n’en ai pas la liberté. Quand je ne m’occupe pas de lui, mon mari tape dans ses mains, tape du pied. Mon mari exige tout de moi, de me coucher quand il se couche, de me lever quand il se lève, tout. C’est la maladie qui l’a rendu comme ça. Je suis
    <span style="font-weight:bold;">sa</span>
    chose en fait.»
  </cite>
  <hr>
  <cite>«La notion de l’amour quand on devient aidant c’est compliqué parce qu’il y a toujours du sentiment. Quand il est vraiment malade, je suis vraiment inquiète, je le cajole plus. Si il lui arrivait un pépin, je serais aussi bouleversée que si il était pas malade. Mais c’est différent, c’est plus la même gestuelle, y’a plus de rapport intime, y’a le bisou du soir, le bisou du matin et le reste je m’occupe de lui, de sa masse corporelle. Mais peut-être que si je l’aimais pas, je ferais pas pareil, j’en ferais pas autant.»

  </cite>
</div>
{% include retour.html %}
<div class="Spacer"></div>