<ul>
  <li><a style="color: #a43740; font-size: 1.2rem" href="/">●&nbsp;Accueil</a>
  <ul>
    <li><a style="color: #f25f5f; font-size: 1.2rem" href="/equipe">●&nbsp;Équipe</a></li>
    <li><a style="color: #a43740; font-size: 1.2rem" href="/contact">●&nbsp;Contact</a></li>
    <li><a style="color: #a43740; font-size: 1.25rem" href="en-savoir-plus-sur-nos-activites">● en savoir plus sur nos activités</a></li>
  </ul></li>
  <li><a style="color: #7C984A; font-size: 1.2rem" href="/art-therapie">●&nbsp;L'art-thérapie</a></li>
  <li><a style="color: #7551e1; font-size: 1.2rem" href="/sophrologie">●&nbsp;Sophrologie</a></li>
  <li><a style="color: #f25f5f" href="/spectacles">●&nbsp;Spectacles</a>
    <ul>
      <li><a style="color: #990099; font-size: 1.2rem" href="bercer-l-enfant-manquant">●&nbsp;Bercer&nbsp;l'enfant&nbsp;manquant</a></li>
      <li><a style="color: #f25f5f" href="les-etres-humaines">●&nbsp;Les&nbsp;Étres&nbsp;Humaines</a></li>
      <li><a style="color: #29c" href="l-hibernance-des-betes">●&nbsp;L'hibernance&nbsp;des&nbsp;bêtes</a></li>
    </ul>
  </li>
  <li style="color: darkgoldenrod; font-size: 1.26rem; font-family: Amatic SC">Ateliers
    <ul>
      <li><a style="color: #02B45B; font-size: 1.2rem" href="/ateliers-artistiques">●&nbsp;artistiques</a></li>
      <li><a style="color: darkgoldenrod; font-size: 1.26rem" href="ateliers-a-domicile">●&nbsp;à&nbsp;domicile</a></li>
      <li><a style="color: #0E95A3; font-size: 1.2rem" href="ateliers-pour-professionnels">●&nbsp;pour&nbsp;professionnels</a></li>
      <li><a href="ou-se-deroulent-nos-ateliers">●&nbsp;Où&nbsp;?</a></li>
    </ul>
  </li>
  <li><a style="color: sandybrown; font-size: 1.2rem" href="pour-quel-public">●&nbsp;Pour&nbsp;quel&nbsp;public&nbsp;?</a>
    <ul>
      <li><a href="quelles-institutions">●&nbsp;Quelles&nbsp;institutions&nbsp;?</a></li>
    </ul></li>
  <li><a href="/nos-tarifs">●&nbsp;Nos&nbsp;tarifs</a></li>
  <li><a style="color: sandybrown; font-size: 1.2rem" href="/sites-amis">●&nbsp;Sites&nbsp;Amis</a></li>
</ul>
