<li class="color01"><a href="/">Accueil</a></li>

<li class="color03"><a href="/art-therapie">L'art-thérapie</a></li>
<li class="color02"><a href="/sophrologie">Sophrologie</a></li>
<li class="color04"><a href="/feldenkrais">Feldenkrais</a></li>
<li class="invisible">m</li>
<li class="grouper">Ateliers&nbsp;:</li>
<li class="color05 indent"><a href="/ateliers-artistiques">artistiques</a></li>
<li class="color04 indent" ><a href="ateliers-a-domicile">à domicile</a></li>
<li class="color02 indent"><a href="ateliers-pour-professionnels">pour professionnels</a></li>
<li class="invisible">m</li>
<li class="color07"><a href="pour-qui">Pour quel public&nbsp;?</a></li>
<li class="color04"><a href="institutions">Quelles institutions&nbsp;?</a></li>
<li class="invisible">m</li>
<li class="color12"><a href="ou">Où ?</a></li>
<li class="invisible">m</li>
<li class="color03"><a href="/spectacles">Spectacles</a></li>
<li class="invisible">m</li>
<li class="color10"><a href="/equipe">Équipe</a></li>
<li class="color11"><a href="/tarifs">Tarifs</a></li>
<li class="color12"><a href="/contact">Contact</a></li>
<li class="color13"><a href="/liens">Sites Amis</a></li>
<li class="invisible">m</li>
<li><a href="/"><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_110,r_15/v1527756312/revercloud4cropped_hd80kr.png"/></li></a>
