
<li class="nav-link collapse show color01 navbarResponsive"><a href="/">Accueil</a></li>
<li class="nav-link collapse show color03 navbarResponsive"><a href="/art-therapie">L'art-thérapie</a></li>
<li class="nav-link collapse show color02 navbarResponsive"><a href="/sophrologie">Sophrologie</a></li>
<li class="nav-link collapse show color05 navbarResponsive"><a href="/ateliers-artistiques">ateliers artistiques</a></li>
<li class="nav-link collapse show color04 navbarResponsive" ><a href="ateliers-a-domicile">ateliers à domicile</a></li>
<li class="nav-link collapse show color02 navbarResponsive"><a href="ateliers-pour-professionnels">ateliers pour professionnels</a></li>
<li class="nav-link collapse show color07 navbarResponsive"><a href="pour-quel-public">Pour quel public&nbsp;?</a></li>
<li class="nav-link collapse show color04 navbarResponsive"><a href="quelles-institutions">Quelles institutions&nbsp;?</a></li>
<li class="nav-link collapse show color12 navbarResponsive"><a href="ou-se-deroulent-nos-ateliers">Où ?</a></li>
<li class="nav-link collapse show color03 navbarResponsive"><a href="/spectacles">Spectacles</a></li>
<li class="nav-link collapse show color03 navbarResponsive"><a href="bercer-l-enfant-manquant">Bercer l'enfant manquant</a></li>
<li class="nav-link collapse show color10 navbarResponsive"><a href="/equipe">Équipe</a></li>
<li class="nav-link collapse show color11 navbarResponsive"><a href="/nos-tarifs">Nos tarifs</a></li>
<li class="nav-link collapse show color12 navbarResponsive"><a href="/contact">Contact</a></li>
<li class="nav-link collapse show color13 navbarResponsive"><a href="/sites-amis">Sites Amis</a></li>

<!-- <li><a href="/"><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_110,r_15/v1527756312/revercloud4cropped_hd80kr.png"/></li></a> -->
