<a class="nav-link collapse show" href="/" id="navbarResponsive">Accueil</a>
<a class="nav-link collapse show" href="/art-therapie" id="navbarResponsive">Art thérapie</a>
<a class="nav-link collapse show" href="/sophrologie" id="navbarResponsive">Sophrologie</a>
<a class="nav-link collapse show" href="/ateliers-artistiques" id="navbarResponsive">Ateliers artistiques</a>
<a class="nav-link collapse show" href="ateliers-a-domicile" id="navbarResponsive">Ateliers à domicile</a>
<a class="nav-link collapse show" href="ateliers-pour-professionnels" id="navbarResponsive">Ateliers pour professionnels</a>
<a class="nav-link collapse show" href="pour-quel-public" id="navbarResponsive">Pour quel public</a>
<a class="nav-link collapse show" href="quelles-institutions" id="navbarResponsive">Quelles institutions</a>
<a class="nav-link collapse show" href="ou-se-deroulent-nos-ateliers" id="navbarResponsive">Où ?</a>
<a class="nav-link collapse show" href="/spectacles" id="navbarResponsive">Spectacles</a>
<a class="nav-link collapse show" href="bercer-l-enfant-manquant" id="navbarResponsive">Bercer l'enfant manquant</a>
<a class="nav-link collapse show" href="/equipe" id="navbarResponsive">Équipe</a>
<a class="nav-link collapse show" href="/nos-tarifs" id="navbarResponsive">Nos tarifs</a>
<a class="nav-link collapse show" href="/contact" id="navbarResponsive">Contact</a>
<a class="nav-link collapse show" href="/sites-amis" id="navbarResponsive">Sites amis</a>
<!-- <li class="invisible">m</li> -->
<!-- <a class="nav-link collapse show" href="/"><img src="http://res.cloudinary.com/dnxcesebo/image/upload/c_scale,h_110,r_15/v1527756312/revercloud4cropped_hd80kr.png"/></a> -->
