<li class="color01"><a href="/">Accueil</a></li>

<li class="color03"><a href="/art-therapie">L'art-thérapie</a></li>
<li class="color03"><a href="/sophrologie">Sophrologie</a></li>
<li class="color03"><a href="/feldenkrais">Feldenkrais</a></li>
<li class="invisible">m</li>
<li class="grouper">Ateliers:</li>
<li class="color05"><a href="/ateliers-artistiques">artistiques</a></li>
<li class="color05"><a href="ateliers-adaptes">à domicile</a></li>
<li class="color05"><a href="ateliers-pros">pour professionels</a></li>
<li class="invisible">m</li>
<li class="color07"><a href="pour-qui">Pour qui?</a></li>
<li class="color07"><a href="institutions">Institutions</a></li>
<li class="invisible">m</li>
<li class="color08"><a href="ou">Où ?</a></li>
<li class="color09"><a href="/spectacles">Spectacles</a></li>
<li class="color10"><a href="/equipe">Équipe</a></li>
<li class="color11"><a href="/tarifs">Tarifs</a></li>
<li class="color12"><a href="/contact">Contact</a></li>
<li class="color13"><a href="/liens">Sites Amis</a></li>

