<ul>
  <li><a style="color: #a43740;" href="/">Accueil</a>
  <ul>
    <li><a style="color: #3e849a" href="/equipe">●&nbsp;Équipe</a></li>
    <li><a style="color: #7551e1" href="/contact">●&nbsp;Contact</a></li>
    <li><a style="color: #7C984A" href="en-savoir-plus-sur-nos-activites">● Éthique</a></li>
  </ul></li>
  <li style="color: darkgoldenrod" class="rever-enlarged">Activités avec les institutions
    <ul>
      <li><a style="color: #990099" href="/les-plus-que-proches">●&nbsp;Les plus que proches</a></li>
      <li><a style="color: #29c" href="/les-petites-lucarnes">●&nbsp;Les petites lucarnes</a></li>
      <li><a style="color: rgb(181, 136, 136)" href="/histoire-de-mes-ressemblances">●&nbsp;Histoire de mes ressemblances</a></li>
      <li><a style="color: #02B45B" href="/journee-nationale-des-aidants">●&nbsp;Journée nationale des aidants</a></li>
      <li><a style="color: #7551e1" href="/cycles-de-sophrologie">●&nbsp;Cycles de sophrologie</a></li>
    </ul>
  </li>
  <li><a style="color: #7C984A" href="/art-therapie">L'art-thérapie</a></li>
  <li><a style="color: #7551e1" href="/sophrologie">Sophrologie</a></li>
  <li><a style="color: #f25f5f" href="/spectacles">Spectacles</a>
    <ul>
      <li><a style="color: #990099" href="bercer-l-enfant-manquant">●&nbsp;Bercer&nbsp;l'enfant&nbsp;manquant&nbsp;2018-...</a></li>
      <li><a style="color: darkgoldenrod" href="parent-solo-et-ses-marmots">●&nbsp;Parent solo et ses marmots&nbsp;2020</a></li>
      <li><a style="color: #29c" href="l-hibernance-des-betes">●&nbsp;L'hibernance&nbsp;des&nbsp;bêtes&nbsp;2021</a></li>
      <li><a style="color: #f25f5f" href="les-etres-humaines">●&nbsp;Les&nbsp;Étres&nbsp;Humaines&nbsp;2011-2015</a></li>
      
    </ul>
  </li>
  <li style="color: darkgoldenrod" class="rever-enlarged">Ateliers
    <ul>
      <li><a style="color: #02B45B" href="/ateliers-artistiques">●&nbsp;artistiques</a></li>
      <li><a style="color: darkgoldenrod" href="ateliers-a-domicile">●&nbsp;à&nbsp;domicile</a></li>
      <li><a style="color: #0E95A3" href="ateliers-pour-professionnels">●&nbsp;monde&nbsp;du&nbsp;travail</a></li>
      <li><a style="color: rgb(181, 136, 136)" href="ateliers-d-ecriture-pour-travailleurs-sociaux">●&nbsp;d'écriture pour travailleurs sociaux et <br>soignants</a></li>
    </ul>
  </li>
  <li><a style="color: sandybrown" href="pour-quel-public">Pour&nbsp;quel&nbsp;public&nbsp;?</a>
    <ul>
      <li><a href="quelles-institutions">●&nbsp;Quelles&nbsp;institutions&nbsp;?</a></li>
    </ul></li>
  <li><a href="nos-tarifs">Nos&nbsp;tarifs</a></li>
  <li><a style="color: sandybrown" href="sites-amis2">Sites&nbsp;Amis</a></li>
  <li>
    <img class="small-image" src="logo-rth.jpeg">
  </li>
</ul>
