<li><a href="/">Accueil</a></li>
<li class="dropdown">
  <button class="dropbtn">FAQ</button><div class="dropdown-content">
   <a href="/art-therapie">L'Art-thérapie</a>
  <a href="/sophrologie">La Sophrologie</a>
  <a href="/feldenkrais">La Méthode Feldenkrais</a>
</div>
</li> 
<li class="dropdown">
  <button class="dropbtn">Spectacles</button><div class="dropdown-content">
   <a href="/spectacles">Spectacles Vivants</a>
    <a href="/leh">Les Êtres Humaines</a>
  <a href="/blem">Bercer l'enfant manquant</a>
  <a href="/lhdb">L'hibernance des bêtes</a>
</div>
</li>
<li class="dropdown">
  <button class="dropbtn">Équipe</button><div class="dropdown-content">
   <a href="/valerie">Valérie Gaudissart</a>
    <a href="/isis">Isis Philippe-Janon </a>
    <a href="/cassandra">Cassandra Lorimy Jackson</a>
  <a href="/morton">Morton Potash</a>
  <a href="/brice">Brice Notin</a>
</div>
</li>
<li class="dropdown">
  <button class="dropbtn">Nos Ateliers</button><div class="dropdown-content">
   <a href="/artistiques">Ateliers Artistiques</a>
    <a href="/passerelles">Ateliers Croisés</a>
    <a href="/professionnels">Ateliers Professionnels</a>
  <a href="/chanson">Création de chansons</a>
  </div>
</li>

<li><a href="/contact">Contact</a></li>

