
<h2>plan du site</h2>
<nav>
<div id="siteMap" class="space-around--wrap">
  <div>
    <p
      class="shadow"
      style="background: #728fa6 url(capture-actu.png); background-size: cover; width: 28ch">
      <a class="nav-list-heading" href="/actualites">●&nbsp;actualités & événements à venir</a>
    </p>
    <p
      class="shadow"
      style="background: #728fa6 url(capture-accueil.png); background-size: cover; width:28ch">
       
      <a class="nav-list-heading" href="/"
        >●&nbsp;accueil</a
      ><br>

      <a class="nav-list-item"  href="/ethique">●&nbsp;éthique</a><br>

      <a class="nav-list-item" 
        href="/ateliers"
        >●&nbsp;ateliers</a
      ><br>

      <a class="nav-list-item"  href="/seances-a-domicile"
        >●&nbsp;séances à domicile</a
      ><br>
      
      <a class="nav-list-item"  href="/art-therapie">●&nbsp;art-thérapie</a
      ><br>
      <a class="nav-list-item"  href="/sophrologie">●&nbsp;sophrologie</a><br>

      <a class="nav-list-item"  href="/composition-de-chansons">●&nbsp;composition de chansons</a><br>

      <a class="nav-list-item"  href="/equipe">●&nbsp;équipe</a><br>
      <a class="nav-list-item" 
        href="/institutions-et-partenaires"
        >●&nbsp;institutions<br>et partenaires</a
      ><br>

      <a class="nav-list-item"  href="/nos-tarifs">●&nbsp;tarifs</a><br>

      <a class="nav-list-item"  href="/contact">●&nbsp;contact</a><br>
      
      <!-- <a style="color: hsl()" href="/accueil-version-2019">●&nbsp;accueil 2019</a> -->
    </p>
    <p
      class="shadow"
      style="background: #728fa6 url(capture-handicap.png); width: 28ch">
      <span class="nav-list-heading">Handicap/Inclusion</span
      ><br>
      <a class="nav-list-item"  href="/derriere-nos-portes">●&nbsp;derrière nos portes</a><br>
      <a class="nav-list-item"  href="/je-t-ai-reve">●&nbsp;je t'ai rêvé</a><br>
      <a class="nav-list-item"  href="/de-l-air">●&nbsp;de l'air !</a><br>
        <a class="nav-list-item"  href="/reapprendre-a-aimer"
        >●&nbsp;réapprendre à aimer</a
      ><br>
      <a class="nav-list-item"  href="/je-veux-vivre">●&nbsp;je veux vivre</a><br>
      <a class="nav-list-item"  href="/chez-soi">●&nbsp;chez soi</a>
    </p>
    <p
      class="shadow"
      style="background: #728fa6 url(carre-insertion.png); width: 28ch">
      <span
        class="nav-list-heading">insertion/travail social</span><br>
      <a class="nav-list-item"  href="/changer-de-pays"
        >●&nbsp;changer de pays</a
      ><br>
      <a class="nav-list-item"  href="/les-petites-lucarnes"
        >●&nbsp;les petites lucarnes</a
      ><br>
      <a
        class="nav-list-item" 
        href="/pour-travailleurs-sociaux-et-soignants"
        >●&nbsp;pour travailleurs sociaux et soignants</a
      ><br>
    </p>
  </div>
  
  <div>
    
    <p
      class="shadow"
      style="background: #728fa6 url(capture-rouge-spectacles.png); width: 28ch">
      <a class="nav-list-heading" style="color:rgb(255, 255, 255)" href="/spectacles"
        >●&nbsp;Spectacles</a
      ><br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="/bercer-l-enfant-manquant"
        >●&nbsp;Bercer l'enfant manquant</a
      ><br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="/parent-solo-et-ses-marmots"
        >●&nbsp;Parent solo et ses marmots</a
      ><br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="/lpqp-lecture-musicale"
        >●&nbsp;Les plus que proches</a
      ><br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="/vivre-avec-parkinson">●&nbsp;Vivre avec Parkinson</a>
      <br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="/cabosses">●&nbsp;Cabossés</a>
      <br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="chansons-pour-ceux-qui-ne-font-pas-de-bruit">●&nbsp;Chansons pour ceux qui ne font pas de bruit</a
      ><br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="les-etres-humaines"
        >●&nbsp;Les&nbsp;Étres&nbsp;Humaines&nbsp;</a
      >
    </p>
    <p
      class="shadow"
      style="background: #728fa6 url(capture-films2.png); width: 28ch">
      <span class="nav-list-heading" style="color:hsl(0, 0%, 100%)">films</span
      ><br>
      <a class="nav-list-item" style="color: rgb(255, 255, 255)" href="/les-mains-nues"
        >●&nbsp;les mains nues</a
      ><br>
      <a class="nav-list-item" style="color: hsl(0, 0%, 100%)" href="/des-souvenirs-bien-accroches"
        >●&nbsp;des souvenirs bien accrochés</a
      ><br>
      <a class="nav-list-item" style="color: hsl(0, 0%, 100%)" href="/matins-d-ete">●&nbsp;matins d'été</a><br>
      <a class="nav-list-item" style="color: hsl(0, 0%, 100%)" href="/je-veux-vivre-film">●&nbsp;je veux vivre</a>
    </p>
    <p class="shadow" style="background: #728fa6 url(capture-troublespsy.png); width: 28ch">
      <span class="nav-list-heading">Troubles Psychiques</span><br>
      <a class="nav-list-item"  href="/portraits-des-miens"
      >●&nbsp;portraits des miens</a><br>
    </p>
    <p class="shadow" style="background: #728fa6 url(capture-violet-maladies-neuro.png); width: 28ch">
      <span class="nav-list-heading">Maladies Neuro-évolutives</span><br>
      <a class="nav-list-item"  href="/vivre-avec-parkinson"
      >●&nbsp;vivre avec Parkinson</a><br>
    </p>
    <p
    class="shadow"
    style="background: #728fa6 url(capture-monde-rural.png); width: 28ch">
    <span
      class="nav-list-heading"
    >monde rural</span><br>
    <a 
    class="nav-list-item" 
      href="/histoires-de-transmission"
    >●&nbsp;histoires de transmission</a>
    </p>
    
  </div>
  <div>
    <p
      class="shadow"
      style="background: #728fa6 url(capture-aidants.png); width: 28ch">
      <span class="nav-list-heading">Aidant.es</span
      ><br>
      <a class="nav-list-item"  href="/les-mains-tendues">●&nbsp;les mains tendues</a><br>
      <a class="nav-list-item"  href="/presences">●&nbsp;présences</a><br/>
      <a class="nav-list-item"  href="/aidants-aimants">●&nbsp;aidants, aimants</a
        ><br>
        <a class="nav-list-item"  href="/je-t-ai-reve">●&nbsp;je t'ai rêvé</a><br>
        <a class="nav-list-item"  href="/cycles-de-sophrologie">●&nbsp;cycles de sophrologie </a><br>
      <a class="nav-list-item"  href="/les-plus-que-proches"
        >●&nbsp;les plus que proches</a
      ><br>
      <a class="nav-list-item"  href="/journee-nationale-des-aidants"
        >●&nbsp;Journée Nationale des Aidants</a
      >
    </p>
    <p
      class="shadow"
      style="background: #728fa6 url(capture-seniors.png); background-size:cover; width: 28ch">
      <span style="color:rgb(255, 255, 255)" class="nav-list-heading">Seniors</span
      ><br>
      <a class="nav-list-item"  href="contre-jour">●&nbsp;contre-jour</a></br>
      <a class="nav-list-item"  href="/rencontres"</a>●&nbsp;rencontres</a><br>
      <a class="nav-list-item"  href="/histoire-de-mes-ressemblances"
        >●&nbsp;histoire de mes ressemblances</a
      ><br>
      <a class="nav-list-item"  href="veillees-du-matin">●&nbsp;veillées du matin</a></br>
      <a class="nav-list-item"  href="/4-fois-20-ans">●&nbsp;4 fois 20 ans</a></br>
      <a class="nav-list-item"  href="/cycles-de-sophrologie"
        >●&nbsp;sophrologie</a
      ><br>
    </p>
    <p
      class="shadow"
      style="background: #728fa6 url(capture-parentalite.png); width: 28ch ">
      <span style="color: #ffff" class="nav-list-heading">Parentalité</span
      ><br>
      <a class="nav-list-item" style="color:hsl(0, 0%, 100%)" href="/familles-d-aujourd-hui">●&nbsp;familles d'aujourd'hui</a><br>
      <a class="nav-list-item" style="color:hsl(0, 0%, 100%)" href="/accompagner-la-parentalite">●&nbsp;accompagner la parentalité</a><br>
      <a class="nav-list-item" style="color: hsl(0, 0%, 100%)" href="/bebes-chantes"
      >●&nbsp;bébés chantés</a><br>
      <!-- <a style="color: hsl(120,50%,42%)" href="/liens-familiaux">●&nbsp;liens familiaux défaits, renoués</a><br> -->
      <a class="nav-list-item" style="color: hsl(0, 0%, 100%)" href="/dans-mon-enfance">●&nbsp;dans mon enfance</a><br>
      <a class="nav-list-item" style="color: hsl(0, 0%, 100%)" href="/je-t-ai-reve">●&nbsp;je t'ai rêvé</a>
    </p>
  </div>
  
</div>
</nav>
<div style="display: flex; align-items: center">
  <div style="padding-right:15px; flex:4 1 0; text-align: right; font-family: serif; font-size: .9rem;">
    Rêver tout haut a reçu <br>pour sa création en 2018 <br>le soutien du <br>Conseil
    Départemental <br>de Saône-et-Loire.
  </div>
  <div style="flex:1 1 0"><img src="https://res.cloudinary.com/dnxcesebo/image/upload/f_auto,q_auto,w_200/v1545914375/conseil_general71_nungjo.png" style="max-height: 100px; max-width: 100px">
  </div>
</div>