<h1>menu</h1>
<div id="siteMap" class="space-around--wrap">
  <div>
    <p
      class="shadow"
      style="background-color: hsl(297.5, 30.4%, 90%); width: 28ch"
    >
      <a class="nav-list-heading" style="color: hsl(339.5, 40%, 55%)" href="/"
        >●&nbsp;a propos de</a
      ><br />
      <a style="color: hsl(116.8, 86.7%, 40.6%)" href="rever-tout-haut"
        >●&nbsp;rêver tout haut</a
      ><br />
      <a style="color: hsl()" href="/ethique">●&nbsp;éthique</a><br />
      <a style="color: #7551e1" href="/contact">●&nbsp;contact</a><br />
      <a style="color: hsl(183.7, 45.6%, 34.7%)" href="/seances-a-domicile"
        >●&nbsp;séances à domicile</a
      ><br />
      <a style="color: #7c984a" href="/art-therapie">●&nbsp;art-thérapie</a
      ><br />
      <a style="color: #7551e1" href="/sophrologie">●&nbsp;sophrologie</a><br />
      <a style="color: #3e849a" href="/equipe">●&nbsp;équipe</a><br />
      <a
        style="color: hsl(2.4, 96.2%, 79.6%)"
        href="/institutions-et-partenaires"
        >●&nbsp;institutions<br />et partenaires</a
      ><br />
      <a style="color: #02b45b" href="/journee-nationale-des-aidants"
        >●&nbsp;Journée Nationale des Aidants</a
      ><br />

      <a style="color: hsl()" href="/nos-tarifs">●&nbsp;tarifs</a><br />
      <!-- <a style="color: hsl()" href="/accueil-version-2019">●&nbsp;accueil 2019</a> -->
    </p>
  </div>

  <div>
    <p
      class="shadow"
      style="background-color: hsl(27.2, 52.5%, 95%); width: 28ch"
    >
      <a
        class="nav-list-heading"
        style="color: hsl(143.6, 68.5%, 52.7%)"
        href="/ateliers"
        >●&nbsp;ateliers</a
      ><br />
      <a style="color:tomato" href="/pendant-le-confinement">●&nbsp;pendant le confinement</a></br>
      <a style="color: hsl(40.6, 50.5%, 42%)" href="/cycles-de-sophrologie"
        >●&nbsp;cycles de sophrologie</a
      ><br />

      <a style="color: #29c" href="/aidants-aimants">●&nbsp;aidants, aimants</a
      ><br />

      <a style="color: hsl(120, 50%, 42%)" href="/liens-familiaux"
        >●&nbsp;liens familiaux défaits, renoués</a
      ><br />

      <a style="color: hsl(200, 50%, 42%)" href="/deja-parent"
        >●&nbsp;déjà parent</a
      ><br />

      <a style="color: hsl(240, 50%, 42%)" href="/amours-desirs-et-absences"
        >●&nbsp;amours, désirs et absences</a
      ><br />

      <a style="color: hsl(300, 50%, 42%)" href="/de-l-air">●&nbsp;de l'air !</a
      ><br />

      <a style="color: hsl(330, 50%, 42%)" href="/changer-de-pays"
        >●&nbsp;changer de pays</a
      ><br />

      <a style="color: #29c" href="/les-petites-lucarnes"
        >●&nbsp;Les petites lucarnes</a
      ><br />

      <a style="color: hsl(165, 50%, 42%)" href="/les-plus-que-proches"
        >●&nbsp;les plus que proches</a
      >

      <a style="color: rgb(181, 136, 136)" href="/histoire-de-mes-ressemblances"
        >●&nbsp;Histoire de mes ressemblances</a
      ><br />

      <a
        style="color: hsl(52, 45.6%, 34.7%)"
        href="/pour-travailleurs-sociaux-et-soignants"
        >●&nbsp;pour travailleurs sociaux et soignants</a
      ><br />

      <a style="color: hsl(213, 50%, 42%)" href="/bebes-chantes"
        >●&nbsp;Bébés chantés</a
      >
    </p>
  </div>
  <div>
    <p
      class="shadow"
      style="background-color: hsl(120, 25.1%, 94.9%); width: 28ch"
    >
      <a class="nav-list-heading" style="color: #f25f5f" href="/spectacles"
        >●&nbsp;Spectacles</a
      ><br />
      <a style="color: darkorange" href="/bercer-l-enfant-manquant"
        >●&nbsp;Bercer&nbsp;l'enfant&nbsp;manquant</a
      ><br />
      <a style="color: darkgoldenrod" href="/parent-solo-et-ses-marmots"
        >●&nbsp;Parent solo et ses marmots</a
      ><br />
      <a style="color: #990099" href="/lpqp-lecture-musicale"
        >●&nbsp;Les plus que proches</a
      ><br />
      <a style="color: #29c" href="l-hibernance-des-betes"
        >●&nbsp;L'hibernance&nbsp;des&nbsp;bêtes&nbsp;2021</a
      ><br />
      <a style="color: #f25f5f" href="les-etres-humaines"
        >●&nbsp;Les&nbsp;Étres&nbsp;Humaines&nbsp;2011-2015</a
      >
    </p>
  </div>
  <div>
    <p
      class="shadow"
      style="background-color: hsl(183.7, 45.6%, 64.7%); width: 28ch"
    >
      <a class="nav-list-heading" style="color: hsl(183.7, 35.6%, 24.7%)">films</a
      ><br />
      <a style="color: hsl(183.7, 30%, 24.7%)" href="/les-mains-nues"
        >●&nbsp;les mains nues</a
      ><br />
      <a style="color: hsl(178, 25%, 20%)" href="/des-souvenirs-bien-accroches"
        >●&nbsp;des souvenirs bien accrochés</a
      ><br>
      <a style="color: hsl(223, 30%, 23%)" href="/matins-d'été">●&nbsp;matins d'été</a>
    </p>
  </div>
</div>
