
<h2>plan du site</h2>
<nav>
<div id="siteMap" class="space-around--wrap">
  <div>
    <p class="shadow" style="background: #bcd5e2; width: 28ch">
      <a class="nav-list-heading" style="color:#800000" href="/actualites">●&nbsp;actualités & événements à venir</a>
    </p>

    <p class="shadow" style="background: #f5c25c; width:28ch"> 
      <a style="color: #00008b" class="nav-list-heading" href="/">●&nbsp;accueil</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/historique">●&nbsp;historique</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/ethique">●&nbsp;éthique</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/ateliers">●&nbsp;ateliers</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/seances-a-domicile">●&nbsp;séances à domicile</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/art-therapie">●&nbsp;art-thérapie</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/sophrologie">●&nbsp;sophrologie</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/composition-de-chansons">●&nbsp;composition de chansons</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/equipe">●&nbsp;équipe</a><br>
      <a style="color: #00008b" class="nav-list-item" href="/institutions-et-partenaires">●&nbsp;institutions<br>et partenaires</a><br>
      <a style="color: #00008b" class="nav-list-item"  href="/nos-tarifs">●&nbsp;tarifs</a><br>
      <a style="color: #00008b" class="nav-list-item"  href="/contact">●&nbsp;contact</a><br>
    </p>

    <p class="shadow" style="background: #653a4c; width: 28ch">
      <a href="/handicap" style="color: #f5d76e;" class="nav-list-heading subtlehover">Handicap/Inclusion</a><br>
      <a style="color: #f5d76e;" class="nav-list-item subtlehover"  href="/derriere-nos-portes">●&nbsp;derrière nos portes</a><br>
      <a style="color: #f5d76e;" class="nav-list-item subtlehover"  href="/je-t-ai-reve">●&nbsp;je t'ai rêvé</a><br>
      <a style="color: #f5d76e;" class="nav-list-item subtlehover"  href="/de-l-air">●&nbsp;de l'air !</a><br>
        <a style="color: #f5d76e;" class="nav-list-item subtlehover"  href="/reapprendre-a-aimer">●&nbsp;réapprendre à aimer</a><br>
      <a style="color: #f5d76e;" class="nav-list-item subtlehover"  href="/je-veux-vivre">●&nbsp;je veux vivre</a><br>
      <a style="color: #f5d76e;" class="nav-list-item subtlehover"  href="/chez-soi">●&nbsp;chez soi</a>
    </p>

    <p class="shadow" style="background: #767ba5; width: 28ch">
      <a href="/insertion" style="color:#fbd7ae" class="nav-list-heading subtlehover">Insertion/Travail Social</a><br>
      <a style="color:#fbd7ae" class="nav-list-item subtlehover"  href="/changer-de-pays">●&nbsp;changer de pays</a><br>
      <a style="color:#fbd7ae" class="nav-list-item subtlehover"  href="/les-petites-lucarnes">●&nbsp;les petites lucarnes</a><br>
      <a style="color:#fbd7ae" class="nav-list-item subtlehover"  href="/pour-travailleurs-sociaux-et-soignants">●&nbsp;pour travailleurs sociaux et soignants</a><br>
    </p>
  </div>
  
  <div>    
    <p class="shadow" style="background: #9d1737; width: 28ch">
      <a style="color: #72fc3b" class="nav-list-heading subtlehover" style="color:rgb(255, 255, 255)" href="/spectacles">●&nbsp;Spectacles</a><br>
      <a style="color: #aafc89" class="nav-list-item subtlehover" style="color: rgb(255, 255, 255)" href="/bercer-l-enfant-manquant">●&nbsp;Bercer l'enfant manquant</a><br>
      <a style="color: #aafc89" class="nav-list-item subtlehover" style="color: rgb(255, 255, 255)" href="/parent-solo-et-ses-marmots">●&nbsp;Parent solo et ses marmots</a><br>
      <a style="color: #aafc89" class="nav-list-item subtlehover" style="color: rgb(255, 255, 255)" href="/lpqp-lecture-musicale">●&nbsp;Les plus que proches</a><br>
      <a style="color: #aafc89" class="nav-list-item subtlehover" style="color: rgb(255, 255, 255)" href="/vivre-avec-parkinson">●&nbsp;Vivre avec Parkinson</a><br>
      <a class="nav-list-item subtlehover" style="color: #aafc89" href="/cabosses">●&nbsp;Cabossés</a><br>
      <a style="color: #aafc89" class="nav-list-item subtlehover" style="color: rgb(255, 255, 255)" href="chansons-pour-ceux-qui-ne-font-pas-de-bruit">●&nbsp;Chansons pour ceux qui ne font pas de bruit</a><br>
      <a style="color: #aafc89" class="nav-list-item subtlehover" style="color: rgb(255, 255, 255)" href="les-etres-humaines">●&nbsp;Les&nbsp;Étres&nbsp;Humaines&nbsp;</a>
    </p>
    <p
      class="shadow"
      style="background: #5c538d; width: 28ch">
      <span class="nav-list-heading" style="color:#fbcbcb">Films</span><br>
      <a class="nav-list-item subtlehover" style="color: #fbcbcb" href="/les-mains-nues">●&nbsp;les mains nues</a><br>
      <a class="nav-list-item subtlehover" style="color: #fbcbcb" href="/des-souvenirs-bien-accroches"
        >●&nbsp;des souvenirs bien accrochés</a><br>
      <a class="nav-list-item subtlehover" style="color: #fbcbcb" href="/matins-d-ete">●&nbsp;matins d'été</a><br>
      <a class="nav-list-item subtlehover" style="color: #fbcbcb" href="/je-veux-vivre-film">●&nbsp;je veux vivre</a>
    </p>
    <p class="shadow" style="background: #8db3d2; width: 28ch">
      <a href="/troubles-psychiques" style="color: #00008b" class="nav-list-heading">Troubles Psychiques</a><br>
      <a style="color: #00008b" class="nav-list-item"  href="/portraits-des-miens"
      >●&nbsp;portraits des miens</a><br>
    </p>
    <p class="shadow" style="background: #7fa090; width: 28ch">
      <a href="/maladies-neuro" style="color:#97f9f7" class="nav-list-heading subtlehover">Maladies Neuro-évolutives</a><br>
      <a style="color:#aafdfc" class="nav-list-item subtlehover"  href="/vivre-avec-parkinson"
      >●&nbsp;vivre avec Parkinson</a><br>
    </p>
    <p
    class="shadow"
    style="background: #f5ae1f; width: 28ch">
    <a href="/monde-rural" style="color: #550055"
      class="nav-list-heading subtlehover">monde rural</a><br>
    <a style="color: #550055"
    class="nav-list-item" 
      href="/histoires-de-transmission"
    >●&nbsp;histoires de transmission</a>
    </p>
    
  </div>
  <div>
    <p
      class="shadow"
      style="background: #728fa6 ; width: 28ch">
      <a style="color: #9bfafa" class="nav-list-heading subtlehover" href="/aidants">Aidant.es</a><br>
      <a style="color: #9bfafa" class="nav-list-item subtlehover"  href="/les-mains-tendues">●&nbsp;les mains tendues</a><br>
      <a style="color: #9bfafa" class="nav-list-item subtlehover"  href="/presences">●&nbsp;présences</a><br/>
      <a style="color: #9bfafa" class="nav-list-item subtlehover"  href="/aidants-aimants">●&nbsp;aidants, aimants</a
        ><br>
        <a style="color: #9bfafa" class="nav-list-item subtlehover"  href="/je-t-ai-reve">●&nbsp;je t'ai rêvé</a><br>
        <a style="color: #9bfafa" class="nav-list-item subtlehover"  href="/cycles-de-sophrologie">●&nbsp;cycles de sophrologie </a><br>
      <a style="color: #9bfafa" class="nav-list-item subtlehover"  href="/les-plus-que-proches"
        >●&nbsp;les plus que proches</a
      ><br>
      <a style="color: #9bfafa" class="nav-list-item subtlehover"  href="/journee-nationale-des-aidants"
        >●&nbsp;Journée Nationale des Aidants</a
      >
    </p>
    <p
      class="shadow"
      style="background: #d43702; width: 28ch">
      <a href="/seniors" style="color: #ffe3ca" class="nav-list-heading subtlehover">Seniors</a
      ><br>
      <a style="color: #ffe3ca" class="nav-list-item subtlehover" href="accordeon-quizz">●&nbsp;accordéon quizz</a><br>
      <a style="color: #ffe3ca" class="nav-list-item subtlehover"  href="contre-jour">●&nbsp;contre-jour</a><br>
      <a style="color: #ffe3ca" class="nav-list-item subtlehover"  href="/rencontres"</a>●&nbsp;rencontres</a><br>
      <a style="color: #ffe3ca" class="nav-list-item subtlehover"  href="/histoire-de-mes-ressemblances"
        >●&nbsp;histoire de mes ressemblances</a
      ><br>
      <a style="color: #ffe3ca" class="nav-list-item subtlehover"  href="veillees-du-matin">●&nbsp;veillées du matin</a><br>
      <a style="color: #ffe3ca" class="nav-list-item subtlehover"  href="/4-fois-20-ans">●&nbsp;4 fois 20 ans</a><br>
      <a style="color: #ffe3ca" class="nav-list-item subtlehover"  href="/cycles-de-sophrologie"
        >●&nbsp;sophrologie</a
      ><br>
    </p>
    <p
      class="shadow"
      style="background: #664d69; width: 28ch ">
      <a style="color: #c8f7c5" class="nav-list-heading subtlehover" href="/parentalite">Parentalité</a><br>
      <a style="color: #c8f7c5" class="nav-list-item subtlehover" style="color:hsl(0, 0%, 100%)" href="/familles-d-aujourd-hui">●&nbsp;familles d'aujourd'hui</a><br>
      <a style="color: #c8f7c5" class="nav-list-item subtlehover" style="color:hsl(0, 0%, 100%)" href="/accompagner-la-parentalite">●&nbsp;accompagner la parentalité</a><br>
      <a style="color: #c8f7c5" class="nav-list-item subtlehover" style="color: hsl(0, 0%, 100%)" href="/bebes-chantes"
      >●&nbsp;bébés chantés</a><br>
      <!-- <a style="color: hsl(120,50%,42%)" href="/liens-familiaux">●&nbsp;liens familiaux défaits, renoués</a><br> -->
      <a style="color: #c8f7c5" class="nav-list-item subtlehover" style="color: hsl(0, 0%, 100%)" href="/dans-mon-enfance">●&nbsp;dans mon enfance</a><br>
      <a style="color: #c8f7c5" class="nav-list-item subtlehover" style="color: hsl(0, 0%, 100%)" href="/je-t-ai-reve">●&nbsp;je t'ai rêvé</a>
    </p>

    <p class="shadow" style="background: #af9294; width: 28ch">
      <span style="color:rgb(247, 255, 86)" class="nav-list-heading" >Soins Palliatifs</span><br>
      <a style="color:yellow" class="nav-list-item subtlehover" href="/au-bord-de-mon-lit">●&nbsp;au bord de mon lit</a>
    </p>
  </div>
  
</div>
</nav>
<div style="display: flex; align-items: center">
  <div style="padding-right:15px; flex:4 1 0; text-align: right; font-family: serif; font-size: .9rem;">
    Rêver tout haut a reçu <br>pour sa création en 2018 <br>le soutien du <br>Conseil
    Départemental <br>de Saône-et-Loire.
  </div>
  <div style="flex:1 1 0"><img src="https://res.cloudinary.com/dnxcesebo/image/upload/f_auto,q_auto,w_200/v1545914375/conseil_general71_nungjo.png" style="max-height: 100px; max-width: 100px">
  </div>
</div>