<div id="psesm" style="background-color: #f6c172; margin-top:20px;letter-spacing: 0.2rem;">
  <h1 style="color:white; text-align:center; padding-top:50px;font-size:36px;">
    parent solo et ses marmots
  </h1>
  <hr class="styled-hr">
  <h2 style="color:white; text-align:center; font-size:32px;letter-spacing: 0.2rem;">
    atelier créatif et spectacle sur le thème de la parentalité à saint marcel et châlon sur saône
  </h2>
  <h2 style="color:tomatored; text-align:center; font-size:42px;letter-spacing: 0.2rem;">Représentation le 27 novembre 2020
    <br>à 14h30 et 20h30
    <br>au Réservoir de Saint Marcel</h2>
  <h3 style="text-align:center;font-size:30px;color:white">réservation obligatoire : 03 85 42 46 27
  </h3>
  <p style="padding:15px">Attn: spectacles du mars reportés à cause du Covid-19, la nouvelle date est annoncé ci-dessus !</p>
  <p style="padding:15px">La nouvelle affiche est en préparation.</p>
  <div class="center-big-block">
    <img src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_800/v1581649257/Affiche-parent-solo_jumrye.jpg">
  </div>
  <div style="padding:20px;">
    <cite style="letter-spacing:0.2rem">
      Qu’est-ce que cela fait vivre, qu’est-ce que cela fait traverser d’être parent solo ? D’avoir l’entière responsabilité de ses enfants, dans le présent et dans l’avenir ?</cite>
    <p>A partir d’ateliers de création et de partages de témoignages, menés par Rêver Tout Haut en partenariat avec la Ville de Saint Marcel, le Centre Social l’Orange Bleue et la CAF, « Parent solo et ses marmots» décline bien des aspects de la mono-parentalité : joies, galères, questions, organisations, et autres inattendus et cadeaux du quotidien !
    </p>
  </div>
</div>