<div id="psesm" style="background-color: #f6c172; margin-top:20px;letter-spacing: 0.2rem; padding:15px">
  <div class="Motto">
    parent solo et ses marmots
  </div>
  <hr class="styled-hr">
  <h2 style="color:white; text-align:center; font-size:32px;letter-spacing: 0.2rem;">
    atelier créatif et spectacle sur le thème de la parentalité
  </h2>
  <p class="intro-text">Qu’est-ce que cela fait vivre, qu’est-ce que cela fait traverser d’être parent solo&nbsp;? D’avoir l’entière responsabilité de ses enfants, dans le présent et dans l’avenir ? De la mono-parentalité subie à la mono-parentalité assumée et revendiquée, bien des aspects de cette nouvelle façon de faire famille sont abordés. Joies, galères, déceptions, questions, organisations, et autres inattendus et cadeaux du quotidien !</p>
  <p class="intro-text">
    Le spectacle est né d’ateliers de création et de partages de témoignages, mené par
    <span class="rever-typog">Rêver Tout Haut</span>
    depuis mai 2019, en partenariat avec la Ville de Saint Marcel, le Centre Social l’Orange Bleue et la CAF 71.

    <cite>«Parent solo et ses marmots»</cite>
    mêle textes, chansons, et est joué par des comédiennes professionnelles, des mamans solo qui montent pour la première fois sur scène et des travailleuses sociales.
  </p>
  <p class="intro-text">
    Avec Aïcha Broutin, Nelly Triba, Sara Lahrizi, Virginie Côte, Ghizlane Harrak, Coraline Henry, Sidonie Dubosc, Sylvia Etcheto, Valérie Gaudissart et Morton Potash.
  </p>
  <h2 style="color:tomatored; text-align:center; font-size:42px;letter-spacing: 0.2rem;">Représentation le 27 novembre 2020
    <br>à 14h30 et 20h30
    <br>au Réservoir de Saint Marcel</h2>
  <h3 style="text-align:center;font-size:30px;color:white">réservation obligatoire : 03 85 42 46 27
  </h3>
  <p style="padding:15px">Attn: spectacles de mars reportés à cause du Covid-19, la nouvelle date est annoncée ci-dessus !</p>
  <p style="padding:15px">La nouvelle affiche est en préparation.</p>
  <div class="center-big-block">
    <img src="https://res.cloudinary.com/dnxcesebo/image/upload/q_auto,f_auto,w_800/v1581649257/Affiche-parent-solo_jumrye.jpg">
  </div>

  {% include retour.html %}
</div>
<div class="Spacer"></div>