$dark-grey: hsl(0, 0%, 70%);
$dark-green: hsl(170, 93%, 24%);
$medium-slate-blue: hsl(255, 64%, 58%);
$asparagus: hsl(81, 51%, 40%);
$pumpkin: hsl(24.2,100%,54.7%);
$carrot-orange: rgb(237, 145, 33);

.sophro-color {
    color: #7551e1;
  }
  .art-color {
    color: #7c984a;
  }
  .music-color {
    color: $pumpkin;
  }
  .spectacle-color {
    color: tomato;
  }
  .psycho-color {
    color: #51bbe1;
  }
  .lucie-color {
    color: #7c0a25;
  }
  .h4song-titles {
    color: #5571a2;
  }
  