
  .OneOfThree {
    flex-basis: 1;
  }
  .figCap {
    text-align: right;
    padding-right: 20px;
    font-size: 1rem;
  }
  .figCapCenter {
    text-align: center;
    font-size: 1rem;
  }
  .slideshow-container a {
    font-size: 3rem;
    color: hsl(30.4, 31.2%, 28.4%);
  }
  .slideshow-container {
      position: relative;
      margin: auto;
  }
  .mySlides {
    margin:auto;
  }
  img {
    width: 100%;
  }
  .left-side-block {
    margin-left: 0px;
    width: 33%;
    float: left;
    padding-right: 1%;
  }
  .center-block {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    padding-top: 1.5rem;
  }
  .center-big-block {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  .flex-container{
    display: flex;
  }
  .column {
    flex: 45%;
    padding: 5%;
  }
  //only in psesm
  .center-max600-block {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 600px;
  }

  //for multiple slideshows pages
  /* Next & previous buttons */
.multiprev, .multinext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.multinext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.multiprev:hover, .multinext:hover {
  background-color: #f1f1f1;
  color: black;
}
/* Slideshow container */
.slideshows-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}