  .one-third {
      width: 30ch;
  }
  .space-between--no-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .space-around--wrap {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    padding: 0 2px;
    justify-content: space-around;
  }

  .space-below {
    margin-bottom: 30px;
  }
  .right-side-text {
      text-align: right;
      padding-right: 1rem;
  }
  .center-text {
      text-align: center;
  }
  .indented {
    padding-left: 5%;
  }
  .logo-image {
    padding-right: 2px;
    min-width: 80px;
    max-width: 250px;
    margin-top: 15px;
    vertical-align: bottom;
  }
  .content-container {
    display: flex; 
    flex-direction: column; 
    max-width:calc(100%-3px);
  }
  .content-container-horizontal {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    max-width:calc(100% - 3px);
  }
  .content-container-horizontal>figure {
    margin: 0 2px;
  }
  .shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    color: white;
    font-family: amatic sc;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 0.13rem;
  }

  .shadow-gradient {
    webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    color: white;
    background: #5c538d;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #8680a8, #5c538d);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to left,  #8278bb, #5c538d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: amatic sc;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 0.13rem;
  }

  .shadow-slant-2deg {
    background-color: tomato;
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(2deg); /*Mozilla */
    transform: rotate(2deg);
    padding: 1rem;
    color: white;
    font-family: amatic sc;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.13rem;
  }
  .styled-hr {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #7c0a25;
    height: 0.05em;
    opacity: 0.3;
  }  

  .inline-centered {
    text-align: center;
  }
  hr {
    color: rgb(196, 192, 192);
    width: 100px;
    margin-left: 15px;
  }
  .image-arrows {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: -45px;
  }
  @media (min-width: 940px) {
    body {
      width: 940px;
      font-size: 1.3em;
  
      /* On ajoute une marge sur les cotés de l'écran */
      padding-right: 2px;
      padding-left: 2px;
      /* Et on centre */
      margin-right: auto;
      margin-left: auto;
    }
  }