// Typography
//
// Headings, body text, lists, and other misc typographic elements.

// Headings
h1,
h2,
h4 {
  font-family: "Amatic SC";
  font-weight: 700;
  color: #a27c55;
  text-align: center;
  text-shadow: 4.0px 4.0px 5.5px #afa972;
  letter-spacing: 0.2em;
}
h1 {
  font-size: 42px;
}
h1 a {
  font-family: "Amatic SC";
  font-size: 32px;
  font-weight: 700;
  color: #a27c55;
  text-align: left;
  text-shadow: 2.5px 2.5px 5px #5c3c29;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 30px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
h3 {
  font-family: "amatic sc";
  font-size: 32px;
  color: #a27c55;
  text-align: left;
}
.centered {
  text-align: center;
}
h4 {
  text-align: center;
  font-size: 30px;
  color: white;
}
h5 {
  font-family: "Amatic SC";
  font-weight: 700;
  color: #5571a2;
  text-align: center;
  text-shadow: 4.0px 4.0px 5.5px #afa972;
  letter-spacing: 0.2em;
  font-size: 24px;
}
h6 {
  font-family: "Amatic SC";
  font-weight: 700;
  color: #a27c55;
  text-align: left;
  font-size: 24px;

}
.nav-list-heading {
  font-size: 32px;
  color: white;
  font-family: "Amatic Sc";
}
.nav-list-item {
  color: white;
  font-family: "Crimson";
   font-size: 1.2rem;
}
.nav-list-item.subtlehover:hover {
  background-color: #989790;
}

.coming li {
  color: $dark-green;
}
.past li {
  color: $dark-grey;
}
p {
  font-family: "Crimson Text", "lora", serif;
  font-size: 1.1em;
  text-align: justify;
}
a {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: "Amatic SC";
}
a:hover {
  background-color: gold;
}
.subtle-hover:hover {
  background-color: lightgrey;

}
.intro-text {
  font-family: "Crimson Text", serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.6rem;
  margin: auto;
  max-width: 720px;
  text-align: justify;
  padding: 1.4rem 0.5rem 1rem 0.5rem;
}
.quote {
  font-family: "Crimson Text", serif;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  margin: 0.5rem 8% 1rem 15%;
  text-align: left;
  padding: 1.4rem 2rem 0rem 2rem;
}
.song-title {
  color: black;
}
.journal {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding: 0.1rem 1.4rem 0rem 1.4rem;
}
.cite {
  font-size: 1rem;
  text-align: right;
  margin-right: 8%;
  padding-right: 3rem;
}
.institutions {
  margin-left: 20%;
}
.institutions > li {
  font-family: "Open Sans Condensed", sans;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
}
.chansons_spoken {
  font-family: "Open Sans Condensed", sans;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
}
.chansons_caption {
  font-family: "Open Sans Condensed", sans;
  font-size: .9rem;
}
.chansons_spoken_title {
  font-family: "Open Sans Condensed", sans;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
}
.chansons_sung {
  line-height: 1.5rem;
  letter-spacing:.13rem;
  font-style: italic;
  font-family: "Crimson-Text", serif;
  padding-left: 15px;
}

.rever-typog {
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  font-size: 1.4rem;
  display: inline;
  letter-spacing: 0.15rem;
}
.address-info {
  margin: 10px auto;
  padding: 10px;
  display: inline-block;
  border: 1px solid;
  text-align: center;
  line-height: 1.5em;
  color: #7c0a25;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.4);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #a27c55;
  font-size: 1.5rem;
  padding: 8px 12px;
  text-align: right;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li > ul {
  padding-left: 3ch;
}
li {
  padding-bottom: 0.7em;
}

@media (max-width: 500px) {
  p {
    text-align: left;
  }
  .intro-text {
    text-align: left;
  }
  .quote {
    margin: 1px 0 0 5px;
    padding: 0;
  }
  .cite {
    margin-right: 0;
    padding-right: 0;
  }
}
// only in 'les etres humaines'
#navcontainer a {
  font-family: "Amatic SC";
  font-size: 1.4rem;
  font-stretch: expanded;
}
#navcontainer a:hover {
  background-color: #a43740;
  color: #fff !important;
  text-decoration: none;
}
