<!DOCTYPE html>
  <html>
    {% include head3.html %}
    <body>

      <div container class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
                <nav class="d-sm-none nav flex-md-column">
                    <a class="col-sm btn btn-lg navbar-toggler" type="radio" data-toggle="collapse" data-target=".navbarResponsive"><img class="img-fluid" src="https://res.cloudinary.com/dnxcesebo/image/upload/v1561280020/rever-menu-upDownArrow700_c6i3ed.jpg" alt="rêver tout haut: créativité, soin, lien social, spectacle vivant"></a>
                    {% include nav-links4.html %}
                </nav>
                <nav class="d-none d-sm-block nav flex-md-column">
                    
                    {% include nav-links4-show.html %}
                </nav>    
          </div>
          <div class="col-sm-9">
              <div class="d-none d-md-block"><img class="img-fluid" src="https://res.cloudinary.com/dnxcesebo/image/upload/v1560477376/rever-banner-v350_o2p9hi.jpg" alt="rêver tout haut: créativité, soin, lien social, spectacle vivant"></div>
              <div>
                  {{ content }}
              </div>
          </div>
          
        </div>

        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
  </html>
