<!DOCTYPE html>
<html>
  {% include head.html %}
  <body style="background-color:white">
    <div style="background-color:ghostwhite">
      <container style="display: flex; flex-direction: column; width: 100%;">
        <div class="svgLogoBackground">

          {% include underlined2.svg %}

        </div>

        <div width="95vw" max-width="940px" style="padding-left:15px; padding-right:15px">
          {{ content }}
        </div>
      </container>
      {% include footerCards.html %}
    </div>
  </body>
</html>